footer.footer
  .footer__container
    .footer__row
      .footer__col
        a(href="").logo-footer
          img(src="@img/logo.png" srcset="@img/logo@2x.png 2x", alt="")
      .footer__block
        .footer__col
          .footer__title Техподдержка
          .footer__items
            a(href="").footer__item 8 800 700-30-60
            .footer__item бесплатно по всей России
        .footer__col
          .footer__title Офис
          .footer__items
            .footer__item 392000, г. Тамбов, 
            .footer__item ул. Студенецкая, д. 16а
        .footer__col
          .footer__title Почта
          .footer__items
            .footer__item info@gigtest.ru
    .footer__copyright
      .footer__copyright-item © 2014–2024 ООО «Прикладное программное обеспечение»
      .footer__copyright-item ИНН: 6829051230
      .footer__copyright-item ОГРН:1086829010872
      .footer__social
        a(href="").footer-social-item
          svg.footer-social-item__icon
            use(xlink:href="@img/icons/icons.svg#odnoklassniki")
        a(href="").footer-social-item
          svg.footer-social-item__icon
            use(xlink:href="@img/icons/icons.svg#vk")
        a(href="").footer-social-item
          svg.footer-social-item__icon
            use(xlink:href="@img/icons/icons.svg#tg")
//- #myModal1.hystmodal(aria-hidden="true")
//-   .hystmodal__wrap
//-     .hystmodal__window(role="dialog" aria-modal="true")
//-       .hystmodal__container
//-         .hystmodal__block
//-           button(data-hystclose).hystmodal__close
//-             svg.hystmodal__iconClose
//-               use(xlink:href="@img/icons/icons.svg#close")
//-           .hystmodal__slider
//-             .swiper-wrapper
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal1.png" srcset="@img/sliderModal1@2x.png 2x", alt="")
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal2.png" srcset="@img/sliderModal2@2x.png 2x", alt="")
//-             .hystmodal__dots
//-             .hystmodal__arrows
//-               .hystmodal__left
//-                 svg.hystmodal__arrow
//-                   use(xlink:href="@img/icons/icons.svg#arrow-left")
//-               .hystmodal__right
//-                 svg.hystmodal__arrow
//-                   use(xlink:href="@img/icons/icons.svg#arrow-right")
//- #myModal2.hystmodal(aria-hidden="true")
//-   .hystmodal__wrap
//-     .hystmodal__window(role="dialog" aria-modal="true")
//-       .hystmodal__container
//-         .hystmodal__block
//-           button(data-hystclose).hystmodal__close
//-             svg.hystmodal__iconClose
//-               use(xlink:href="@img/icons/icons.svg#close")
//-           .hystmodal__slider
//-             .swiper-wrapper
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal3.png" srcset="@img/sliderModal3@2x.png 2x", alt="")
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal4.png" srcset="@img/sliderModal4@2x.png 2x", alt="")
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal5.png" srcset="@img/sliderModal5@2x.png 2x", alt="")
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal6.png" srcset="@img/sliderModal6@2x.png 2x", alt="")
//-             .hystmodal__dots
//-             .hystmodal__arrows
//-               .hystmodal__left
//-                 svg.hystmodal__arrow
//-                   use(xlink:href="@img/icons/icons.svg#arrow-left")
//-               .hystmodal__right
//-                 svg.hystmodal__arrow
//-                   use(xlink:href="@img/icons/icons.svg#arrow-right")
//- #myModal3.hystmodal(aria-hidden="true")
//-   .hystmodal__wrap
//-     .hystmodal__window(role="dialog" aria-modal="true")
//-       .hystmodal__container
//-         .hystmodal__block
//-           button(data-hystclose).hystmodal__close
//-             svg.hystmodal__iconClose
//-               use(xlink:href="@img/icons/icons.svg#close")
//-           .hystmodal__slider
//-             .swiper-wrapper
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal7.png" srcset="@img/sliderModal7@2x.png 2x", alt="")
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal8.png" srcset="@img/sliderModal8@2x.png 2x", alt="")
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal9.png" srcset="@img/sliderModal9@2x.png 2x", alt="")
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal10.png" srcset="@img/sliderModal6@2x.png 2x", alt="")
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal11.png" srcset="@img/sliderModal6@2x.png 2x", alt="")
//-             .hystmodal__dots
//-             .hystmodal__arrows
//-               .hystmodal__left
//-                 svg.hystmodal__arrow
//-                   use(xlink:href="@img/icons/icons.svg#arrow-left")
//-               .hystmodal__right
//-                 svg.hystmodal__arrow
//-                   use(xlink:href="@img/icons/icons.svg#arrow-right")
//- #myModal4.hystmodal(aria-hidden="true")
//-   .hystmodal__wrap
//-     .hystmodal__window(role="dialog" aria-modal="true")
//-       .hystmodal__container
//-         .hystmodal__block
//-           button(data-hystclose).hystmodal__close
//-             svg.hystmodal__iconClose
//-               use(xlink:href="@img/icons/icons.svg#close")
//-           .slide-modal-item
//-             img(src="@img/sliderModal12.png" srcset="@img/sliderModal12@2x.png 2x", alt="")
//- #myModal5.hystmodal(aria-hidden="true")
//-   .hystmodal__wrap
//-     .hystmodal__window(role="dialog" aria-modal="true")
//-       .hystmodal__container
//-         .hystmodal__block
//-           button(data-hystclose).hystmodal__close
//-             svg.hystmodal__iconClose
//-               use(xlink:href="@img/icons/icons.svg#close")
//-           .hystmodal__slider
//-             .swiper-wrapper
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal13.png" srcset="@img/sliderModal13@2x.png 2x", alt="")
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal14.png" srcset="@img/sliderModal14@2x.png 2x", alt="")
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal15.png" srcset="@img/sliderModal15@2x.png 2x", alt="")
//-             .hystmodal__dots
//-             .hystmodal__arrows
//-               .hystmodal__left
//-                 svg.hystmodal__arrow
//-                   use(xlink:href="@img/icons/icons.svg#arrow-left")
//-               .hystmodal__right
//-                 svg.hystmodal__arrow
//-                   use(xlink:href="@img/icons/icons.svg#arrow-right")
//- #myModal6.hystmodal(aria-hidden="true")
//-   .hystmodal__wrap
//-     .hystmodal__window(role="dialog" aria-modal="true")
//-       .hystmodal__container
//-         .hystmodal__block
//-           button(data-hystclose).hystmodal__close
//-             svg.hystmodal__iconClose
//-               use(xlink:href="@img/icons/icons.svg#close")
//-           .hystmodal__slider
//-             .swiper-wrapper
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal16.png" srcset="@img/sliderModal16@2x.png 2x", alt="")
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal17.png" srcset="@img/sliderModal17@2x.png 2x", alt="")
//-               .swiper-slide
//-                 .slide-modal-item
//-                   img(src="@img/sliderModal18.png" srcset="@img/sliderModal18@2x.png 2x", alt="")
//-             .hystmodal__dots
//-             .hystmodal__arrows
//-               .hystmodal__left
//-                 svg.hystmodal__arrow
//-                   use(xlink:href="@img/icons/icons.svg#arrow-left")
//-               .hystmodal__right
//-                 svg.hystmodal__arrow
//-                   use(xlink:href="@img/icons/icons.svg#arrow-right")
//- #myModal7.hystmodal(aria-hidden="true")
//-   .hystmodal__wrap
//-     .hystmodal__window(role="dialog" aria-modal="true")
//-       .hystmodal__container
//-         .hystmodal__block
//-           button(data-hystclose).hystmodal__close
//-             svg.hystmodal__iconClose
//-               use(xlink:href="@img/icons/icons.svg#close")
//-           .slide-modal-item
//-             img(src="@img/sliderModal19.png" srcset="@img/sliderModal19@2x.png 2x", alt="")