doctype html
html
  include html/head
  body
    .wrapper
      .menu-mobile
        <div class="phone">
        <svg class="phone__icon">
        <use xlink:href="img/icons/icons.svg#telephone"></use>
        </svg>
        <div class="phone__item">
        <div class="phone__top">с&nbsp;9–00&nbsp;до&nbsp;18–00&nbsp;Пн-Пт</div><a class="phone__bottom" href="tel:+78007003060">8&nbsp;800&nbsp;700-30-60</a>
        </div>
        </div>
      .menu-overlay
      <header class="header">
      <div class="header__container">
      <div class="logo"><a href="/gigtest/dist/"><picture><source srcset="img/logo.webp, img/logo@2x.webp 2x" type="image/webp"><img class="logo__image" src="img/logo.png" srcset="img/logo@2x.png 2x" alt=""></picture></a></div>
      <nav class="menu">
      <ul class="menu__list">
      <li class="menu__item"><a class="menu__link">Решения</a>
      <svg class="menu__icon" data-js="menuToggle">
      <use xlink:href="img/icons/icons.svg#arrow-down"></use>
      </svg>
      <div class="menu__dropdown">
      <ul class="menu-dropdown">
      <li class="menu-dropdown__item menu-dropdown__item--back" data-js="menuToggle">
        <a class="menu-dropdown__link" href="javascript:void(0)"><span class="menu-dropdown__title">Назад</span>
          <svg class="menu__icon">
            <use xlink:href="img/icons/icons.svg#arrow-down"></use>
          </svg>
        </a>
      </li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="https://gigtest.ru" target="_blanc"><span class="menu-dropdown__title">    ГИГТЕСТ</span><span class="menu-dropdown__text">Сервис для&nbsp;проведения гигиенического обучения граждан</span></a></li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="/gigtest/dist/"><span class="menu-dropdown__title">ГИГТЕСТ. Медицина</span><span class="menu-dropdown__text">Медицинская информационная система</span></a></li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="/gigtest/dist/integration.html"><span class="menu-dropdown__title">Интеграция с&nbsp;ЕГИСЗ</span><span class="menu-dropdown__text">Подключаем вашу МИС к ЕГИСЗ</span></a></li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="/gigtest/dist/seo.html"><span class="menu-dropdown__title">SEO&nbsp;в&nbsp;медицине</span><span class="menu-dropdown__text">Маркетинговая помощь в продвижении медицинских услуг</span></a></li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="/gigtest/dist/consulting.html"><span class="menu-dropdown__title">Консалтинг</span><span class="menu-dropdown__text">Поможем в подключении вашей организации к единому контуру</span></a></li>
      </ul>
      </div>
      </li>
      <li class="menu__item"><a class="menu__link menu__link--active" href="/gigtest/dist/api.html">API</a></li>
      <li class="menu__item"><a class="menu__link" href="/gigtest/dist/prices.html">Тарифы</a></li>
      <li class="menu__item"><a class="menu__link" href="/gigtest/dist/knowledge.html">База знаний</a></li>
      <li class="menu__item"><a class="menu__link" href="/gigtest/dist/contacts-in.html">Контакты</a></li>
      </ul>
      </nav>
      <div class="header__phone">
      <div class="phone">
      <svg class="phone__icon">
      <use xlink:href="img/icons/icons.svg#telephone-fill"></use>
      </svg>
      <div class="phone__item">
      <div class="phone__top">с&nbsp;9–00&nbsp;до&nbsp;18–00&nbsp;Пн-Пт</div><a class="phone__bottom" href="tel:+78007003060">8&nbsp;800&nbsp;700-30-60</a>
      </div>
      </div>
      </div>
      <div class="hamburger">
      <svg class="hamburger__icon">
      <use xlink:href="img/icons/icons.svg#hamburger"></use>
      </svg>
      <svg class="hamburger__close">
      <use xlink:href="img/icons/icons.svg#cross"></use>
      </svg>
      </div>
      </div>
      </header>
      main
        .breadcrumbs
          .breadcrumbs__container
            ul.breadcrumbs__list
              li.breadcrumbs__item
                a(href="/gigtest/dist/integration.html").breadcrumbs__link Интеграция с ЕГИСЗ
              li.breadcrumbs__item API
        .section-page
          .section-page__api
            .section-page__container
              .section-page__title
                h1.page-title API
              .section-page__content
                h2 API для передачи СЭМД в РЭМД
                p API предназначено для передачи структурированных электронных медицинских документов (далее — СЭМД) в реестр электронных медицинских документов (далее — РЭМД).<br > API cодержит методы для создания нового СЭМД, его подписи и получении статуса отправки СЭМД.
                p Основные требования<br class="br-mobile"> для взаимодействия с РЭМД.
                p Для осуществления взаимодействия с подсистемой РЭМД со стороны МИС должно быть обеспечено выполнение следующих условий:<br>— Медицинская организация, от которой осуществляется отправка ЭМД в РЭМД, должна быть зарегистрирована в ФРМО;<br>— Врач, подписавший ЭМД должeн быть зарегистрирован в ФРМР;<br>— ЭМД должен быть подписан подписью врача, сформированной по формату CMS (Cryptographic Message Syntax);<br>— У врача, подписавшего ЭМД, должен быть передан СНИЛС;<br>— У пациента должен быть передан СНИЛС;<br>— Для формирования указанных УКЭП должны использоваться сертификаты, выданные аккредитованными УЦ. Сертификаты должны соответствовать требованиям ГОСТ Р 34.10–2012 (Согласно выписке из документа ФСБ России N 149/7/1/3–58 от 31.01.2014 «О порядке перехода к использованию новых стандартов ЭЦП и функции хэширования» использование схемы подписи ГОСТ Р 34.10–2001 для формирования подписи после 31.12.2018 года не допускается);<br>— Файл ЭМД должен иметь XML формат.
              .section-page__content
                h2 Общие требования к использованию API
                ol
                  li Передача сведений осуществляется в рамках защищённого соединения с помощью OpenVPN-ГОСТ;
                  li Аутентификация: в каждом запросе необходимо передавать параметр access-token;
                  li Для получения ответа в формате JSON необходимо передавать заголовок запроса Accept:application/json;
                  li Кодировка ответа UTF-8;
                  li СЭМД и подпись врача передаются в Base64.
              .section-page__content
                h2 СЭМД
                p СЭМД — электронный документ, с помощью которого осуществляется передача информации (электронных персональных медицинских записей) из Электронной медицинской карты конкретной медицинской организации в Интегрированную электронную медицинскую карту.
                p СЭМД содержит информацию из конкретной Электронной персональной медицинской записи (далее — ЭПМЗ) в конкретной медицинской организации, всю необходимую информацию для идентификации субъекта ИЭМК, а также для определения автора данной информации и медицинской организации, несущих ответственность за её содержание.
                p СЭМД имеет определённую структуру и формат в соответствии с используемыми стандартами и правилами, установленными для взаимодействия с Интегрированным электронным медицинским архивом. ИЭМА также устанавливает регламент обработки СЭМД при его поступлении в ИЭМК. СЭМД должен обеспечивать требования, предъявляемые к медицинскому документу:<br> — Официальность (юридическую значимость);<br>— Неизменность;<br>— Персонифицируемость и неотказуемость, т.е. возможность определить происхождение документа и его автора, несущего ответственность за его медицинское содержание, а также конкретный момент (дату) его создания.
              .section-page__content
                h2 Пример запроса на создание СЭМД*
                pre
                  code
                    span {
                      span "document": {
                        span "number": "10",
                        span "created_at": "2024-09-01 14:00:23",
                        span "kind": 230,
                        span "description": "Профосмотр",
                        span "content": "документ в base64"
                      span },
                      span "organization": {
                        span  "oid": "1.2.643.5.1.13.13.12.2.53.192929",
                        span "name": "ООО ЕВРОМЕД"
                      span },
                      span "patient": {
                        span "firstname": "Иванов",
                        span "lastname": "Иванов",
                        span "patrname": "Иванович",
                        span "birthdate": "1985-06-01",
                        span "gender": 0,
                        span "snils": "66089818145"
                      span },
                      span "doctor": {
                        span "firstname": "Иванов",
                        span "lastname": "Иванов",
                        span "patrname": "Иванович",
                        span "snils": "66089818145",
                        span "position_id": 80,
                        span "speciality_id": 124
                      span }
                    span }
                .code-descr
                  .code-descr__block * Подробное описание API предоставляется индивидуально.
      include html/footer
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src="js/modules/jquery.js")
  script(src='js/app.js')