doctype html
html
  include html/head
  body
    .wrapper
      include html/header2
      main
        .breadcrumbs
          .breadcrumbs__container
            ul.breadcrumbs__list
              li.breadcrumbs__item
                a(href="").breadcrumbs__link Главная
              li.breadcrumbs__item Контакты
        .section-page
          .section-page__contact
            .section-page__container
              .section-page__head
                h1.page-title Контакты
              .section-contact
                .section-contact__row
                  .section-contact__col
                    img(src="@img/question-image.png", alt="")
                  .section-contact__col
                    .section-contact__item
                      .section-contact__item-title Почта:
                      .section-contact__item-text info@gigtest.ru
                    .section-contact__item
                      .section-contact__item-title Телефон:
                      .section-contact__item-text 8 800 700-30-60
                    .section-contact__item
                      .contact-time
                        .contact-time__title Часы работы по московскому времени
                        .contact-time__label
                          .contact-time__days Пн-Чт
                          .contact-time__info с 08:00 до 17:00
                        .contact-time__label
                          .contact-time__days Пт
                          .contact-time__info с 08:00 до 16:00
                        .contact-time__label
                          .contact-time__days Сб-Вс 
                          .contact-time__info выходные
      include html/footer
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src='js/app.js')