doctype html
html
  include html/head
  body
    .wrapper
      include html/header2
      main
        .section-page
          .section-page__egsis
            .section-page__container
              .section-page__title
                h1.page-title Требования к клиникам для подключения к ЕГИСЗ
              .section-page__contentWrap
                p ЕГИСЗ включает в себя ряд подсистем. Однако, из них можно выделить пять ключевых, с которыми медицинским организациям приходится иметь дело ежедневно: <br>— Федеральный реестр медицинских организаций (ФРМО); <br>— Федеральный регистр медицинских работников (ФРМР); <br>— Федеральная электронная регистратура (ФЭР); <br>— Федеральная интегрированная электронная медицинская карта (ИЭМК); <br>— Федеральный реестр электронных медицинских документов (РЭМД).
                p В этих подсистемах содержится информация о медицинских организациях, медработниках, обо всех изменениях  в расписании и об оказанной медицинской помощи. Именно эти сведения и необходимо передавать <br class="d-sm-none"> в ЕГИСЗ — причём в трёхдневный срок после их появления.
                div
                  p Алгоритм подключения медицинской организации к ЕГИСЗ выглядит следующим образом:
                  ol  
                    li Регистрация клиники в ФРМО, где ей присуждается уникальный идентификатор (OID);
                    li Регистрация медработников в ФРМР;
                    li Организация защищённого канала связи;
                    li Отладка интеграции с МИС;
                    li Начало передачи данных.
                p Безусловно, существует множество нюансов, которые необходимо учитывать дополнительно. Например, возникает необходимость вносить изменения в документацию, регулирующую обработку персональных данных пациентов, обеспечить врачей электронными подписями и т.д.
              .section-page__egsisContact
                .section-question
                  h2.section-title Остались вопросы? Мы готовы помочь!
                  .section-question__block
                    .section-question__row
                      .section-question__col
                        img(src="@img/question-image.png" srcset="@img/question-image@2x.png 2x", alt="").section-question__image
                      .section-question__col
                        form.form-question
                          input(type="text" placeholder="Введите имя")
                          input(type="text" placeholder="+7 (___) ___ - __ - __").form-input-tel
                          .ycaptcha
                            img(src="@img/captcha.png", alt="")
                          a(href="").btn.btn--medium.btn--accent.btn--fw Заказать звонок
      include html/footer
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src='js/app.js')