doctype html
html
  include html/head
  body
    .wrapper
      include html/header2
      main
        .breadcrumbs
          .breadcrumbs__container
            ul.breadcrumbs__list
              li.breadcrumbs__item
                a(href="").breadcrumbs__link Главная
              li.breadcrumbs__item
                a(href="").breadcrumbs__link Тарифы
              li.breadcrumbs__item Заявка на подключение
        .section-page
          .section-page__form
            .section-page__container
              .section-page__formHead
                h1.page-title Заявка на подключение к МИС ГИГТЕСТ
              .section-page__formMain
                form.form-main
                  .form-main__price Тариф:
                    span 5000 ₽/мес
                  .form-main__block
                    .form-main__items
                      .form-main__item
                        input(type="text" placeholder="Введите имя" value="Ольга").form-input-name.form-input-name--is-valid
                      .form-main__item
                        input(type="text" placeholder="+7 (___) ___ - __ - __" value="+7 (927) 876–98–63").form-input-tel.form-input-tel--is-valid
                      .form-main__item
                        input(type="text" placeholder="Введите ИНН медицинской организации*" value="9876511371").form-input-inn.form-input-inn--is-valid
                    .form-main__info
                      .form-main-info
                        p С таким ИНН найдена организация в ФРМО
                        p Организация: ООО «Медицинский региональный центр»
                        p OID: 1.2.643.5.1.13.13.12.2.14.59483
                        p Адрес: 125094, г. Москва, ул. Ленина, дом 3, стр. 23, офис 6
                        p Руководитель: Иванов И.И (директор)
                    .form-main__download
                      a(href="").download-item
                        svg.download-item__icon
                          use(xlink:href="@img/icons/icons.svg#download")
                        .download-item__text Скачать документы для подписания
                      a(href="").download-item
                        svg.download-item__icon
                          use(xlink:href="@img/icons/icons.svg#paperclip")
                        .download-item__text Прикрепить подписанные документы
                  .ycaptcha
                    img(src="@img/captcha2.png", alt="")
                  .form-main__btn
                    a(href="").btn.btn--large.btn--accent.btn--fw Заказать звонок
      include html/footer
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src='js/app.js')