doctype html
html
  include html/head
  body
    .wrapper
      include html/header
      main
        section.section-main
          .section-main__slider
            .swiper-wrapper
              .swiper-slide
                .slider-item
                  .slider-item__container
                    .slider-item__col
                      h1.slider-item__title Подключим медицинскую информационную систему нового поколения
                      .slider-item__list
                        .main-item
                          .main-item__title с 2015 года
                          .main-item__text работаем в области<br> медицины
                        .main-item
                          .main-item__title 86
                          .main-item__text регионов используют<br> нашу систему
                        .main-item
                          .main-item__title 1400+
                          .main-item__text медицинских<br> организаций
                      .slider-item__btn
                        a(href="https://gigtest.ru/doc/gigtest.pdf").btn.btn--accent.btn--medium Подробнее
                        a(href="").btn.btn--green.btn--medium Подключиться к ЕГИСЗ
                    .slider-item__col
                      img(src="@img/slider.png" srcset="@img/slider@2x.png 2x", alt="").slider-item__col-img1
              .swiper-slide
                .slider-item
                  .slider-item__container
                    .slider-item__col
                      .slider-item__title Являемся официальным оператором Минздрава России
                      .slider-item__descr Подключены к ЕГИСЗ
                      .slider-item__btn
                        a(href="/gigtest/dist/appsoft.html").btn.btn--accent.btn--medium Подробнее
                    .slider-item__col
                      .slider-item__circle
                        img(src="@img/slider2.png" srcset="@img/slider2@2x.png 2x", alt="").slider-item__circle-item
                        img(src="@img/slider-circle.png" srcset="@img/slider-circle2@2x.png 2x", alt="").slider-item__circle-item2
                        .circle-item
                          .circle-item-block
                            .circle-item-block__icon ЕПГУ
                            .circle-item-block__wrap Единый портал<br> государственных<br>  и муниципальных услуг
                          .circle-item-block
                            .circle-item-block__icon
                              svg.circle-item-block__img
                                use(xlink:href="@img/icons/icons.svg#docPlus")
                            .circle-item-block__wrap Электронная<br> медицинская<br> карта
                          .circle-item-block
                            .circle-item-block__icon ФРМО
                            .circle-item-block__wrap Федеральный реестр<br> медицинских<br>  организаций
                          .circle-item-block
                            .circle-item-block__icon ФРМР
                            .circle-item-block__wrapper Федеральный реестр <br>медицинских <br>работников
                          .circle-item-block
                            .circle-item-block__icon
                              svg.circle-item-block__img
                                use(xlink:href="@img/icons/icons.svg#hand")
                            .circle-item-block__wrapper Партнёрские<br> информационные<br> системы
                          .circle-item-block
                            .circle-item-block__icon РЭМД
                            .circle-item-block__wrapper Реестр электронных <br>медицинских<br> документов
              .swiper-slide
                .slider-item
                  .slider-item__container
                    .slider-item__col
                      .slider-item__title Автоматизируем ваше медицинское учреждение
                      .slider-item__descr от 3000 рублей в месяц
                      .slider-item__btn
                        a(href="#section-price").btn.btn--accent.btn--medium Подробнее
                    .slider-item__col
                      img(src="@img/slider3.png" srcset="@img/slider3@2x.png 2x", alt="")
            .section-main__dots
        section.section-difficulties
          .section-difficulties__container
            h2.section-title Сложности, с которыми сталкиваются <br> медицинские учреждения
            .section-difficulties__row
              .section-difficulties__col
                .difficulties-item
                  svg.difficulties-item__icon
                    use(xlink:href="@img/icons/icons.svg#docs")
                  .difficulties-item__block
                    .difficulties-item__title Большой объём документов
                    .difficulties-item__text Медицинские учреждения <br class="br-mobile">обрабатывают много документов на бумажных носителях
              .section-difficulties__col
                .difficulties-item
                  svg.difficulties-item__icon
                    use(xlink:href="@img/icons/icons.svg#rule_folder")
                  .difficulties-item__block
                    .difficulties-item__title Прозрачность в учёте
                    .difficulties-item__text Ведение бухгалтерского и налоговый учёта обладает <br class="d-none d-xl-block">своей спецификой
              .section-difficulties__col
                .difficulties-item
                  svg.difficulties-item__icon
                    use(xlink:href="@img/icons/icons.svg#clock")
                  .difficulties-item__block
                    .difficulties-item__title Ограниченное количество времени
                    .difficulties-item__text Заполнение необходимых медицинских документов даже<br class="d-none d-xl-block"> на одного пациента занимает большое <br class="d-none d-xl-block"> количество времени
              .section-difficulties__col
                .difficulties-item
                  svg.difficulties-item__icon
                    use(xlink:href="@img/icons/icons.svg#reset_shutter_speed")
                  .difficulties-item__block
                    .difficulties-item__title Скорость обработки данных
                    .difficulties-item__text Необходимо быстро обработать результаты исследований<br class="d-xl-block d-none"> и не потерять при этом качество обслуживания
        section.section-possibilities#section-possibilities
          .section-possibilities__container
            .section-possibilities__title
              h2.section-title Возможности
            p.section-possibilities__descr ГИГТЕСТ.МЕДИЦИНА — это сервис, в котором собраны все нужные инструменты для успешной работы медицинского учреждения и управления его процессами
            .section-possibilities__row
              .section-possibilities__col
                .accordion
                  .accordion-item
                    .accordion-item__block.active
                      .accordion-header
                        .accordion-header__title Отправка медицинской документации в ЕГИСЗ
                          svg.accordion-header__icon
                            use(xlink:href="@img/icons/icons.svg#arrow-down")
                      .accordion-content
                        .accordion-content__wrap Применяйте для передачи медицинских заключений<br class="br-desctop-lg"> по результатам предварительных и периодических медицинских осмотров в РЭМД — быстрый и удобный способ передачи документов, необходимых для оформления личных медицинских книжек!
                        a(href="#" data-hystmodal="#myModal1").accordion-image
                          .accordion-image__block.accordion-image__block--active
                            .swiper-wrapper
                              .swiper-slide
                                img(src="@img/scheme/scheme.png" srcset="@img/scheme/scheme@2x.png 2x", alt="")
                              .swiper-slide
                                img(src="@img/scheme/scheme8.png" srcset="@img/scheme/scheme8@2x.png 2x", alt="")
                      #myModal1.hystmodal(aria-hidden="true")
                        .hystmodal__wrapper
                          .hystmodal__window(role="dialog" aria-modal="true")
                            .hystmodal__container
                              .hystmodal__block
                                button(data-hystclose).hystmodal__close
                                  svg.hystmodal__iconClose
                                    use(xlink:href="@img/icons/icons.svg#close")
                                .hystmodal__slider.hystmodal__slider--active
                                  .swiper-wrapper
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal1@2x.png" srcset="@img/sliderModal1@2x.png 2x", alt="")
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal2@2x.png" srcset="@img/sliderModal2@2x.png 2x", alt="")
                                  .hystmodal__dots
                                  .hystmodal__arrows
                                    .hystmodal__left
                                      svg.hystmodal__arrow
                                        use(xlink:href="@img/icons/icons.svg#arrow-left")
                                    .hystmodal__right
                                      svg.hystmodal__arrow
                                        use(xlink:href="@img/icons/icons.svg#arrow-right")
                  .accordion-item
                    .accordion-item__block
                      .accordion-header
                        .accordion-header__title Электронная очередь к врачу
                          svg.accordion-header__icon
                            use(xlink:href="@img/icons/icons.svg#arrow-down")
                      .accordion-content
                        .accordion-content__wrap Управляйте состоянием очередей в режиме реального времени и передачей актуальной информации по состоянию очередей в медицинском учреждении всем заинтересованным лицам: пациентам, врачам, регистраторам, руководству медицинского учреждения.
                        a(href="#" data-hystmodal="#myModal2").accordion-image
                          .accordion-image__block.accordion-image__block--active
                            .swiper-wrapper
                              .swiper-slide
                                img(src="@img/scheme/scheme4.png" srcset="@img/scheme/scheme4@2x.png 2x", alt="")
                              .swiper-slide
                                img(src="@img/scheme/scheme9.png" srcset="@img/scheme/scheme9@2x.png 2x", alt="")
                              .swiper-slide
                                img(src="@img/scheme/scheme10.png" srcset="@img/scheme/scheme10@2x.png 2x", alt="")
                              .swiper-slide
                                img(src="@img/scheme/scheme11.png" srcset="@img/scheme/scheme11@2x.png 2x", alt="")
                      #myModal2.hystmodal(aria-hidden="true")
                        .hystmodal__wrapper
                          .hystmodal__window(role="dialog" aria-modal="true")
                            .hystmodal__container
                              .hystmodal__block
                                button(data-hystclose).hystmodal__close
                                  svg.hystmodal__iconClose
                                    use(xlink:href="@img/icons/icons.svg#close")
                                .hystmodal__slider.hystmodal__slider--active
                                  .swiper-wrapper
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal3.png" srcset="@img/sliderModal3@2x.png 2x", alt="")
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal4.png" srcset="@img/sliderModal4@2x.png 2x", alt="")
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal5.png" srcset="@img/sliderModal5@2x.png 2x", alt="")
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal6.png" srcset="@img/sliderModal6@2x.png 2x", alt="")
                                  .hystmodal__dots
                                  .hystmodal__arrows
                                    .hystmodal__left
                                      svg.hystmodal__arrow
                                        use(xlink:href="@img/icons/icons.svg#arrow-left")
                                    .hystmodal__right
                                      svg.hystmodal__arrow
                                        use(xlink:href="@img/icons/icons.svg#arrow-right")
                  .accordion-item
                    .accordion-item__block
                      .accordion-header
                        .accordion-header__title Личный кабинет врача
                          svg.accordion-header__icon
                            use(xlink:href="@img/icons/icons.svg#arrow-down")
                      .accordion-content
                        .accordion-content__wrap Управляйте медицинскими данными пациентов в личном кабинет. Это позволит врачам удобно и эффективно вести документацию, включая историю болезни, результаты обследований, назначения и рецепты.
                        a(href="#" data-hystmodal="#myModal3").accordion-image
                          .accordion-image__block.accordion-image__block--active
                            .swiper-wrapper
                              .swiper-slide
                                img(src="@img/scheme/scheme2.png" srcset="@img/scheme/scheme2@2x.png 2x", alt="")
                              .swiper-slide
                                img(src="@img/scheme/scheme12.png" srcset="@img/scheme/scheme12@2x.png 2x", alt="")
                              .swiper-slide
                                img(src="@img/scheme/scheme13.png" srcset="@img/scheme/scheme13@2x.png 2x", alt="")
                              .swiper-slide
                                img(src="@img/scheme/scheme14.png" srcset="@img/scheme/scheme14@2x.png 2x", alt="")
                              .swiper-slide
                                img(src="@img/scheme/scheme15.png" srcset="@img/scheme/scheme15@2x.png 2x", alt="")
                      #myModal3.hystmodal(aria-hidden="true")
                        .hystmodal__wrapper
                          .hystmodal__window(role="dialog" aria-modal="true")
                            .hystmodal__container
                              .hystmodal__block
                                button(data-hystclose).hystmodal__close
                                  svg.hystmodal__iconClose
                                    use(xlink:href="@img/icons/icons.svg#close")
                                .hystmodal__slider.hystmodal__slider--active
                                  .swiper-wrapper
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal7.png" srcset="@img/sliderModal/sliderModal7@2x.png 2x", alt="")
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal8.png" srcset="@img/sliderModal/sliderModal8@2x.png 2x", alt="")
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal9.png" srcset="@img/sliderModal/sliderModal9@2x.png 2x", alt="")
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal10.png" srcset="@img/sliderModal/sliderModal6@2x.png 2x", alt="")
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal11.png" srcset="@img/sliderModal/sliderModal6@2x.png 2x", alt="")
                                  .hystmodal__dots
                                  .hystmodal__arrows
                                    .hystmodal__left
                                      svg.hystmodal__arrow
                                        use(xlink:href="@img/icons/icons.svg#arrow-left")
                                    .hystmodal__right
                                      svg.hystmodal__arrow
                                        use(xlink:href="@img/icons/icons.svg#arrow-right")  
                  .accordion-item
                    .accordion-item__block
                      .accordion-header
                        .accordion-header__title Запись на амбулаторные приёмы
                          svg.accordion-header__icon
                            use(xlink:href="@img/icons/icons.svg#arrow-down")
                      .accordion-content
                        .accordion-content__wrap Выполняйте запись пациента на приём к выбранному врачу в соответствии с существующим расписанием, а также позволяет изменить время приёма или отказаться от записи.
                        a(href="#" data-hystmodal="#myModal4").accordion-image
                          img(src="@img/scheme/scheme3.png" srcset="@img/scheme/scheme3@2x.png 2x", alt="")
                      #myModal4.hystmodal(aria-hidden="true")
                        .hystmodal__wrapper
                          .hystmodal__window(role="dialog" aria-modal="true")
                            .hystmodal__container
                              .hystmodal__block
                                button(data-hystclose).hystmodal__close
                                  svg.hystmodal__iconClose
                                    use(xlink:href="@img/icons/icons.svg#close")
                                .slide-modal-item
                                  img(src="@img/sliderModal/sliderModal12.png" srcset="@img/sliderModal/sliderModal12@2x.png 2x", alt="")
                  .accordion-item
                    .accordion-item__block
                      .accordion-header
                        .accordion-header__title Гибкая медицинская документация
                          svg.accordion-header__icon
                            use(xlink:href="@img/icons/icons.svg#arrow-down")
                      .accordion-content
                        .accordion-content__wrap Ведите медицинскую документацию в электронном формате, включая формирование, подписание, хранение, регистрацию в единой государственной информационной системе в сфере здравоохранения, предоставление доступа к медицинской документации, ведение которой осуществляется в форме электронных медицинских документов.
                        a(href="#" data-hystmodal="#myModal5").accordion-image
                          .accordion-image__block.accordion-image__block--active
                            .swiper-wrapper
                              .swiper-slide
                                img(src="@img/sliderModal/sliderModal13.png" srcset="@img/sliderModal/sliderModal13@2x.png 2x", alt="")
                              .swiper-slide
                                img(src="@img/sliderModal/sliderModal14.png" srcset="@img/sliderModal/sliderModal14@2x.png 2x", alt="")
                              .swiper-slide
                                img(src="@img/sliderModal/sliderModal15.png" srcset="@img/sliderModal/sliderModal15@2x.png 2x", alt="")
                      #myModal5.hystmodal(aria-hidden="true")
                        .hystmodal__wrapper
                          .hystmodal__window(role="dialog" aria-modal="true")
                            .hystmodal__container
                              .hystmodal__block
                                button(data-hystclose).hystmodal__close
                                  svg.hystmodal__iconClose
                                    use(xlink:href="@img/icons/icons.svg#close")
                                .hystmodal__slider.hystmodal__slider--active
                                  .swiper-wrapper
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal13.png" srcset="@img/sliderModal/sliderModal13@2x.png 2x", alt="")
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal14.png" srcset="@img/sliderModal/sliderModal14@2x.png 2x", alt="")
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal15.png" srcset="@img/sliderModal/sliderModal15@2x.png 2x", alt="")
                                  .hystmodal__dots
                                  .hystmodal__arrows
                                    .hystmodal__left
                                      svg.hystmodal__arrow
                                        use(xlink:href="@img/icons/icons.svg#arrow-left")
                                    .hystmodal__right
                                      svg.hystmodal__arrow
                                        use(xlink:href="@img/icons/icons.svg#arrow-right")
                  .accordion-item
                    .accordion-item__block
                      .accordion-header
                        .accordion-header__title Работа с юридическими лицами
                          svg.accordion-header__icon
                            use(xlink:href="@img/icons/icons.svg#arrow-down")
                      .accordion-content
                        .accordion-content__wrap Работайте одновременно и с частными и с корпоративными клиентами. Ведение списков контрагентов, долгосрочных договоров прикрепления, гарантийных писем и согласований, как в рамках добровольного медицинского страхования (ДМС), так и по прямым договорам с юридическими и физическими лицами.
                        a(href="#" data-hystmodal="#myModal6").accordion-image
                          .accordion-image__block.accordion-image__block--active
                            .swiper-wrapper
                              .swiper-slide
                                img(src="@img/scheme/scheme6.png" srcset="@img/scheme/scheme6@2x.png 2x", alt="")
                              .swiper-slide
                                img(src="@img/scheme/scheme16.png" srcset="@img/scheme/scheme16@2x.png 2x", alt="")
                              .swiper-slide
                                img(src="@img/scheme/scheme17.png" srcset="@img/scheme/scheme17@2x.png 2x", alt="")
                      #myModal6.hystmodal(aria-hidden="true")
                        .hystmodal__wrapper
                          .hystmodal__window(role="dialog" aria-modal="true")
                            .hystmodal__container
                              .hystmodal__block
                                button(data-hystclose).hystmodal__close
                                  svg.hystmodal__iconClose
                                    use(xlink:href="@img/icons/icons.svg#close")
                                .hystmodal__slider.hystmodal__slider--active
                                  .swiper-wrapper
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal16.png" srcset="@img/sliderModal/sliderModal16@2x.png 2x", alt="")
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal17.png" srcset="@img/sliderModal/sliderModal17@2x.png 2x", alt="")
                                    .swiper-slide
                                      .slide-modal-item
                                        img(src="@img/sliderModal/sliderModal18.png" srcset="@img/sliderModal/sliderModal18@2x.png 2x", alt="")
                                  .hystmodal__dots
                                  .hystmodal__arrows
                                    .hystmodal__left
                                      svg.hystmodal__arrow
                                        use(xlink:href="@img/icons/icons.svg#arrow-left")
                                    .hystmodal__right
                                      svg.hystmodal__arrow
                                        use(xlink:href="@img/icons/icons.svg#arrow-right")
                  .accordion-item
                    .accordion-item__block
                      .accordion-header
                        .accordion-header__title Медицинская статистика
                          svg.accordion-header__icon
                            use(xlink:href="@img/icons/icons.svg#arrow-down")
                      .accordion-content 
                        .accordion-content__wrap Получайте полную отчётность по всем показателям: приёмы, посещаемость, затятость врачей, статистику по пациентам.
                        a(href="#" data-hystmodal="#myModal7").accordion-image
                          img(src="@img/scheme/scheme7.png" srcset="@img/scheme/scheme7@2x.png 2x", alt="")
                      #myModal7.hystmodal(aria-hidden="true")
                        .hystmodal__wrapper
                          .hystmodal__window(role="dialog" aria-modal="true")
                            .hystmodal__container
                              .hystmodal__block
                                button(data-hystclose).hystmodal__close
                                  svg.hystmodal__iconClose
                                    use(xlink:href="@img/icons/icons.svg#close")
                                .slide-modal-item
                                  img(src="@img/sliderModal/sliderModal19.png" srcset="@img/sliderModal/sliderModal19@2x.png 2x", alt="")
            .section-possibilities__btn
              a(href="#section-question").btn.btn--bordered.btn--wide.btn--medium Получить консультацию
        section.section-integration#section-integration
          .section-integration__container
            h2.section-title Интеграции
            .section-integration__row
              .section-integration__col
                img(src="@img/integration1.png" srcset="@img/integration1@2x.png 2x", alt="")
              .section-integration__col
                img(src="@img/integration2.png" srcset="@img/integration2@2x.png 2x", alt="")
              .section-integration__col
                img(src="@img/integration3.png" srcset="@img/integration3@2x.png 2x", alt="")
              .section-integration__col
                img(src="@img/integration4.png" srcset="@img/integration4@2x.png 2x", alt="")
              .section-integration__col
                img(src="@img/integration5.png" srcset="@img/integration5@2x.png 2x", alt="")
        section.section-price#section-price
          .section-price__container
            h2.section-title Тарифы ГИГТЕСТ.Медицина
            .section-price__tabs
              .tabs-header
                ul.tabs-header__block
                  li(data-id="tab-1").tab.tab--active.tabs-header__item
                    span МИС
                  li(data-id="tab-2").tab.tabs-header__item
                    span МИС+
            .section-price__wrap
              #tab-1.content.content--active
                .price-info-title Для всех тарифов действуют условия
                .section-price__top
                  .price-info-item
                    svg.price-info-item__icon
                      use(xlink:href="@img/icons/icons.svg#check")
                    .price-info-item__body <span>Неограниченное</span> <br class="br-mobile">число пользователей
                  .price-info-item
                    svg.price-info-item__icon
                      use(xlink:href="@img/icons/icons.svg#check")
                    .price-info-item__body <span>10 000 ₽</span> за подключение и настройку
                  .price-info-item
                    svg.price-info-item__icon
                      use(xlink:href="@img/icons/icons.svg#check")
                    .price-info-item__body <span>Неограниченное</span> количество передаваемых документов
                .section-price__cards
                  .section-price__row
                    .swiper-wrapper
                      .swiper-slide.swiper-slide--active-card
                        .section-price__col
                          .price-card
                            .price-card__header
                              .price-card__month 12 месяцев
                            .price-card__body
                              .price-card__item
                                .price-card__descr (2 800) ₽/мес
                                .price-card__sum 33 600 <span>₽</span>
                                a(href="#section-question").btn.btn--medium.btn--accent.btn--fw Выбрать
                              .price-card__item
                                .price-card__possibility Регистрация пациентов
                                .price-card__possibility Интеграция с ЕГИСЗ
                                .price-card__possibility Формирование и передача СЭМД
                                .price-card__possibility Статистика и отчёты
                      .swiper-slide
                        .section-price__col
                          .price-card
                            .price-card__header
                              .price-card__month 6 месяцев
                            .price-card__body
                              .price-card__item
                                .price-card__descr (3 000) ₽/мес
                                .price-card__sum 18 000 <span>₽</span>
                                a(href="#section-question").btn.btn--medium.btn--accent.btn--fw Выбрать
                              .price-card__item
                                .price-card__possibility Регистрация пациентов
                                .price-card__possibility Интеграция с ЕГИСЗ
                                .price-card__possibility Формирование и передача СЭМД
                                .price-card__possibility Статистика и отчёты
                    .section-price__dots
                      .price-dots
              #tab-2.content
                .price-info-title Для всех тарифов действуют условия
                .section-price__top
                  .price-info-item
                    svg.price-info-item__icon
                      use(xlink:href="@img/icons/icons.svg#check")
                    .price-info-item__body <span>Неограниченное</span> число пользователей
                  .price-info-item
                    svg.price-info-item__icon
                      use(xlink:href="@img/icons/icons.svg#check")
                    .price-info-item__body <span>Бесплатное подключение</span> и настройка
                  .price-info-item
                    svg.price-info-item__icon
                      use(xlink:href="@img/icons/icons.svg#check")
                    .price-info-item__body <span>Неограниченное</span> количество передаваемых документов
                .section-price__rows
                  .swiper-wrapper
                    .swiper-slide.swiper-slide--active-card
                      .section-price__item
                        .price-card
                          .price-card__header
                            .price-card__month 24 месяца
                          .price-card__body
                            .price-card__item
                              .price-card__descr (4 900) ₽/мес
                              .price-card__sum 117 600 ₽
                              a(href="#section-question").btn.btn--medium.btn--accent.btn--fw Выбрать
                            .price-card__item
                              .price-card__possibility Электронная регистратура
                              .price-card__possibility Интеграция с ЕГИСЗ
                              .price-card__possibility Формирование и передача СЭМД
                              .price-card__possibility Амбулаторный приём
                              .price-card__possibility Статистика и отчёты
                              .price-card__possibility Электронный документооборот
                              .price-card__possibility Калькулятор услуг
                    .swiper-slide
                      .section-price__item
                        .price-card
                          .price-card__header
                            .price-card__month 12 месяцев
                          .price-card__body
                            .price-card__item
                              .price-card__descr (6 000) ₽/мес
                              .price-card__sum 72 000 ₽
                              a(href="#section-question").btn.btn--medium.btn--accent.btn--fw Выбрать
                            .price-card__item
                              .price-card__possibility Электронная регистратура
                              .price-card__possibility Интеграция с ЕГИСЗ
                              .price-card__possibility Формирование и передача СЭМД
                              .price-card__possibility Амбулаторный приём
                              .price-card__possibility Статистика и отчёты
                              .price-card__possibility Электронный документооборот
                              .price-card__possibility Калькулятор услуг
                    .swiper-slide  
                      .section-price__item
                        .price-card
                          .price-card__header
                            .price-card__month 6 месяцев
                          .price-card__body
                            .price-card__item
                              .price-card__descr (6 800) ₽/мес
                              .price-card__sum 40 800 ₽
                              a(href="#section-question").btn.btn--medium.btn--accent.btn--fw Выбрать
                            .price-card__item
                              .price-card__possibility Электронная регистратура
                              .price-card__possibility Интеграция с ЕГИСЗ
                              .price-card__possibility Формирование и передача СЭМД
                              .price-card__possibility Амбулаторный приём
                              .price-card__possibility Статистика и отчёты
                              .price-card__possibility Электронный документооборот
                              .price-card__possibility Калькулятор услуг
                  .section-price__dots
                    .price-dots
        section.section-reviews
          .section-reviews__container
            h2.section-title Отзывы наших клиентов
            .section-reviews__slider
              .swiper-wrapper
                .swiper-slide
                  .review-slide
                    .review-slide__left
                      .review-slide__title Отзыв ФБУЗ «Центр <br class="br-mobile">гигиены и эпидемиологии<br> в Челябинской области»    
                      .review-slide__content Федеральное бюджетное учреждение «Центр гигиены и эпидемиологии в Челябинской области» в лице главного врача Валеуллиной Н.Н. выражает Вашему коллективу свою признательность за плодотворное сотрудничество и неоценимую помощь в организации дистанционной профессиональной гигиенической подготовки населения на территории Челябинской области посредством системы «ГИГТЕСТ». Особую актуальность данная форма подготовки приобрела в период пандемии COVID–19.<br>                  Желаем вам вдохновения и неиссякаемой творческой энергии, совершения всех начинаний и планов, крепкого здоровья и благополучия!<br>Спасибо за ваш труд!

                    a(href="#" data-hystmodal="#myModalReview1").review-slide__img
                      img(src="@img/review/review.png" srcset="@img/review/review.png 2x", alt="")
                .swiper-slide
                  .review-slide
                    .review-slide__left
                      .review-slide__title Отзыв ООО «Ваш доктор»
                      .review-slide__content Медицинский центр «Ваш Доктор» выражает глубокую благодарность коллективу ООО «Прикладное программное обеспечение» за взаимовыгодное плодотворное сотрудничество. Ваша помощь в организации дистанционной профессиональной гигиенической подготовки граждан на базе нашего медицинского центра позволила добиться серьёзных результатов и была крайне важна в условиях пандемии новой короновирусной инфекции COVID–19.<br>                  Желаем Вашему коллективу вдохновения, свершения всех начинаний и планов, процветания, крепкого здоровья и благополучия!<br>Искренне надеемся и рассчитываем на укрепление и расширение наших партнёрских отношений!
                    a(href="#" data-hystmodal="#myModalReview2").review-slide__img
                      img(src="@img/review/review1.png" srcset="@img/review/review1.png 2x", alt="")
                .swiper-slide
                  .review-slide
                    .review-slide__left
                      .review-slide__title Отзыв ФБУЗ «Центр гигиены и эпидемиологии в Воронежской области»
                      .review-slide__content Федеральное бюджетное учреждение здравоохранения «Центр гигиены и эпидемиологии в Воронежской области» в лице главного врача Стёпкина Юрия Ивановича выражает Вашему коллективу свою признательность за плодотворное сотрудничество и неоценимую помощь в организации дистанционной профессиональной гигиенической подготовки населения на территории Воронежской области посредством системы «ГИГТЕСТ».Особую активность данная форма подготовки приобрела в период пандемии COVID–19.Желаем вам вдохновения и неиссякаемой творческой энергии, свершения всех начинаний и планов, крепкого здоровья и благополучия!<br>                  Спасибо за ваш труд!
                    a(href="#" data-hystmodal="#myModalReview3").review-slide__img
                      img(src="@img/review/review2.png" srcset="@img/review/review2.png 2x", alt="")
              .section-reviews__arrows
                .section-reviews__arrows-left
                  svg.section-reviews__arrow
                    use(xlink:href="@img/icons/icons.svg#arrow-left")
                .section-reviews__arrows-right
                  svg.section-reviews__arrow
                    use(xlink:href="@img/icons/icons.svg#arrow-right")
            .section-reviews__btn
              a(href="/gigtest/dist/reviews.html").btn.btn--white-bordered.btn--medium.btn--wide Все отзывы
        section.section-certificate
          .section-certificate__container
            h2.section-title Сертификаты
            .section-certificate__row
              a(href="#" data-hystmodal="#myModalCertificate1").section-certificate__item
                img(src="@img/certificate1.png" srcset="@img/certificate1@2x.png 2x" , alt="")
              a(href="#" data-hystmodal="#myModalCertificate2").section-certificate__item
                img(src="@img/certificate2.png" srcset="@img/certificate2@2x.png 2x" , alt="")
              a(href="#" data-hystmodal="#myModalCertificate3").section-certificate__item
                img(src="@img/certificate3.png" srcset="@img/certificate3@2x.png 2x" , alt="")
            .section-certificate__arms
              .section-certificate__arm
                .section-certificate__image
                  img(src="@img/eagle.png" srcset="@img/eagle@2x.png", alt="")
                .section-certificate__arm-text Единый реестр Российских программ для ЭВМ № 4043, приказа Минкомсвязи РФ от 07.12.2017 № 680
              .section-certificate__arm
                .section-certificate__image
                  img(src="@img/eagle2.png" srcset="@img/eagle2@2x.png", alt="")
                .section-certificate__arm-text Официальный оператор Министерства здравоохранения Российской Федерации
        section.section-partners
          .section-partners__container
            h2.section-title Мы сотрудничаем
            .section-partners__row
              .section-partners__col
                .partner-item
                  .partner-item__title Федеральное медико-<br>биологическое агентство
                  .partner-item__image
                    img(src="@img/eagle3.png" srcset="@img/eagle3@2x.png 2x", alt="")
              .section-partners__col
                .partner-item
                  .partner-item__title Федеральная служба по надзору  в сфере защиты прав потребителей и благополучия человека
                  .partner-item__image
                    img(src="@img/eagle4.png" srcset="@img/eagle4@2x.png 2x", alt="")
              .section-partners__col
                .partner-item
                  .partner-item__title Министерство <br class="br-desctop">здравоохранения <br class="br-desctop"> Российской Федерации
                  .partner-item__image
                    img(src="@img/eagle5.png" srcset="@img/eagle5@2x.png 2x", alt="")
        section.section-question#section-question
          .section-question__container
            h2.section-title Остались вопросы? Мы готовы помочь!
            .section-question__block
              .section-question__row
                .section-question__col
                  img(src="@img/question-image.png" srcset="@img/question-image@2x.png 2x", alt="").section-question__image
                .section-question__col
                  form.form-question
                    input(type="text" placeholder="Введите имя")
                    input(type="text" placeholder="+7 (___) ___ - __ - __").form-input-tel
                    .ycaptcha
                      img(src="@img/captcha.png", alt="")
                    a(href="").btn.btn--medium.btn--accent.btn--fw Заказать звонок
                    a(href="").btn.btn--green.btn--medium.btn--fw Подключиться к ЕГИСЗ
      include html/footer
      #myModalCertificate1.hystmodal(aria-hidden="true")
        .hystmodal__wrapper
          .hystmodal__window(role="dialog" aria-modal="true")
            .hystmodal__container
              .hystmodal__block
                button(data-hystclose).hystmodal__close
                  svg.hystmodal__iconClose
                    use(xlink:href="@img/icons/icons.svg#close")
                .slide-modal-item
                  img(src="@img/certificate1@2x.png", alt="")
      #myModalCertificate2.hystmodal(aria-hidden="true")
        .hystmodal__wrapper
          .hystmodal__window(role="dialog" aria-modal="true")
            .hystmodal__container
              .hystmodal__block
                button(data-hystclose).hystmodal__close
                  svg.hystmodal__iconClose
                    use(xlink:href="@img/icons/icons.svg#close")
                .slide-modal-item
                  img(src="@img/certificate2@2x.png", alt="")
      #myModalCertificate3.hystmodal(aria-hidden="true")
        .hystmodal__wrapper
          .hystmodal__window(role="dialog" aria-modal="true")
            .hystmodal__container
              .hystmodal__block
                button(data-hystclose).hystmodal__close
                  svg.hystmodal__iconClose
                    use(xlink:href="@img/icons/icons.svg#close")
                .slide-modal-item
                  img(src="@img/certificate3@2x.png", alt="")
      #myModalReview1.hystmodal(aria-hidden="true")
        .hystmodal__wrapper
          .hystmodal__window(role="dialog" aria-modal="true")
            .hystmodal__container
              .hystmodal__block
                button(data-hystclose).hystmodal__close
                  svg.hystmodal__iconClose
                    use(xlink:href="@img/icons/icons.svg#close")
                .slide-modal-item
                  img(src="@img/review/review2x.png", alt="")
      #myModalReview2.hystmodal(aria-hidden="true")
        .hystmodal__wrapper
          .hystmodal__window(role="dialog" aria-modal="true")
            .hystmodal__container
              .hystmodal__block
                button(data-hystclose).hystmodal__close
                  svg.hystmodal__iconClose
                    use(xlink:href="@img/icons/icons.svg#close")
                .slide-modal-item
                  img(src="@img/review/review@2x.png", alt="")
      #myModalReview3.hystmodal(aria-hidden="true")
        .hystmodal__wrapper
          .hystmodal__window(role="dialog" aria-modal="true")
            .hystmodal__container
              .hystmodal__block
                button(data-hystclose).hystmodal__close
                  svg.hystmodal__iconClose
                    use(xlink:href="@img/icons/icons.svg#close")
                .slide-modal-item
                  img(src="@img/review/review2@2x.png", alt="")
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src='js/app.js')