doctype html
html
  include html/head
  body
    .wrapper
      include html/header3
      main
        .breadcrumbs
          .breadcrumbs__container
            ul.breadcrumbs__list
              li.breadcrumbs__item
                a(href="/gigtest/dist/seo.html").breadcrumbs__link SEO-продвижение сайтов в медицинской тематике
              li.breadcrumbs__item Кейсы
        .section-page
          .section-key
            .section-key__header
              h1.page-title Кейсы
            .section-key__wrap
              .section-key__wrapper
                .section-key__container
                  .section-key__descr Поисковое продвижение клиники косметологии и SPA AvenueMedSpa
                  .section-key__row
                    .section-key__col
                      img(src="@img/key1.png" alt="").section-key__tv
                      .section-key__bottom
                        span Сайт:
                        a(href="https://avenuemedspa.ru" target="_blanc") avenuemedspa.ru
                    .section-key__col
                      .section-key__image
                        .section-key__dynamic Динамика поискового трафика
                        img(src="@img/1.png" alt="").section-key__scheme
              .section-key__wrapper
                .section-key__container
                  .section-key__descr Поисковое продвижение клиники Atribeaute
                  .section-key__row
                    .section-key__col
                      img(src="@img/key2.png" alt="").section-key__tv
                      .section-key__bottom
                        span Сайт:
                        a(href="https://atribeautemed.ru" target="_blanc") atribeautemed.ru
                    .section-key__col
                      .section-key__image
                        .section-key__dynamic Динамика поискового трафика
                        img(src="@img/2.png" alt="").section-key__scheme
              .section-key__wrapper
                .section-key__container
                  .section-key__descr Поисковое продвижение международного медицинского центра «МЕДИКАЛ ОН ГРУП»
                  .section-key__row
                    .section-key__col
                      img(src="@img/key3.png" alt="").section-key__tv
                      .section-key__bottom
                        span Сайт:
                        a(href="https://medongroup-sevastopol.ru" target="_blanc") medongroup-sevastopol.ru
                    .section-key__col
                      .section-key__image
                        .section-key__dynamic Динамика поискового трафика
                        img(src="@img/3.png" alt="").section-key__scheme
              .section-key__wrapper
                .section-key__container
                  .section-key__descr Поисковое продвижение линейки продуктов «ДЕТРИМАКС»
                  .section-key__row
                    .section-key__col
                      img(src="@img/key4.png" alt="").section-key__tv
                      .section-key__bottom
                        span Сайт:
                        a(href="https://detrimax.ru" target="_blanc") detrimax.ru
                    .section-key__col
                      .section-key__image
                        .section-key__dynamic Динамика поискового трафика
                        img(src="@img/4.png" alt="").section-key__scheme
              .section-key__wrapper
                .section-key__container
                  .section-key__descr Поисковое продвижение сайта салона «ОКОПТИКА»
                  .section-key__row
                    .section-key__col
                      img(src="@img/key5.png" alt="").section-key__tv
                      .section-key__bottom
                        span Сайт:
                        a(href="https://okoptica.ru" target="_blanc") okoptica.ru
                    .section-key__col
                      .section-key__image
                        .section-key__dynamic Динамика поискового трафика
                        img(src="@img/5.png" alt="").section-key__scheme
      include html/footer
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src="https://code.jquery.com/jquery-3.7.1.min.js")
  script(src='js/app.js')