doctype html
html
  include html/head
  body
    .wrapper
      include html/header2
      main
        .breadcrumbs
          .breadcrumbs__container
            ul.breadcrumbs__list
              li.breadcrumbs__item
                a(href="").breadcrumbs__link Главная
              li.breadcrumbs__item Тарифы
        .section-page
          .section-page__prices
            .section-page__container
              .section-page__price
                h1.page-title Тарифы
              .section-price__prices
                .section-price__row
                  .swiper-wrapper
                    .swiper-slide.swiper-slide--active-card
                      .section-price__col
                        .price-card
                          .price-card__head
                            .price-card__head-price 5 000 <span>₽/мес</span>
                            .price-card__head-descr Безлимитная передача электронных медицинских документов
                            a(href="").btn.btn--accent.btn--medium.btn--fw Подключить
                          .price-card__bodyItem
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#computer-cloud")
                              .card-bodyItem__text Бесплатное подключение
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#integration-security")
                              .card-bodyItem__text Защищённый канал
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#computer-check")
                              .card-bodyItem__text Подключение от 3 дней
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#vm-connect")
                              .card-bodyItem__text Интеграция с любой МИС*
                    .swiper-slide
                      .section-price__col
                        .price-card
                          .price-card__head
                            .price-card__head-price 2 000 <span>₽/мес</span>
                            .price-card__head-descr Передача до 500 электронных медицинских документов <br>в месяц
                            a(href="").btn.btn--fw.btn--accent.btn--medium Подключить
                          .price-card__bodyItem
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#computer-cloud")
                              .card-bodyItem__text Бесплатное подключение
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#integration-security")
                              .card-bodyItem__text Защищённый канал
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#computer-check")
                              .card-bodyItem__text Подключение от 3 дней
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#vm-connect")
                              .card-bodyItem__text Интеграция с любой МИС*
                  .section-price__dots
                    .price-dots
              .cards-descr * При наличии технической возможности со стороны МИС 
      include html/footer
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src='js/app.js')