doctype html
html
  include html/head
  body
    .wrapper
      .menu-mobile
      .menu-overlay
      <header class="header">
      <div class="header__container">
      <div class="logo"><a href="/gigtest/dist/"><picture><source srcset="img/logo.webp, img/logo@2x.webp 2x" type="image/webp"><img class="logo__image" src="img/logo.png" srcset="img/logo@2x.png 2x" alt=""></picture></a></div>
      <nav class="menu">
      <ul class="menu__list">
      <li class="menu__item"><a class="menu__link">Решения</a>
      <svg class="menu__icon">
      <use xlink:href="img/icons/icons.svg#arrow-down"></use>
      </svg>
      <div class="menu__dropdown">
      <ul class="menu-dropdown">
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="https://gigtest.ru" target="_blanc"><span class="menu-dropdown__title">    ГИГТЕСТ</span><span class="menu-dropdown__text">Сервис для&nbsp;проведения гигиенического обучения граждан</span></a></li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="https://med.gigtest.ru" target="_blanc"><span class="menu-dropdown__title">ГИГТЕСТ. Медицина</span><span class="menu-dropdown__text">Медицинская информационная система</span></a></li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="/gigtest/dist/integration.html"><span class="menu-dropdown__title">Интеграция с&nbsp;ЕГИСЗ</span><span class="menu-dropdown__text">Подключаем вашу МИС к ЕГИСЗ</span></a></li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="/gigtest/dist/seo.html"><span class="menu-dropdown__title">SEO&nbsp;в&nbsp;медицине</span><span class="menu-dropdown__text">Маркетинговая помощь в продвижении медицинских услуг</span></a></li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="/gigtest/dist/consulting.html"><span class="menu-dropdown__title">Консалтинг</span><span class="menu-dropdown__text">Поможем в подключении вашей организации к единому контуру</span></a></li>
      </ul>
      </div>
      </li>
      <li class="menu__item"><a class="menu__link" href="/gigtest/dist/api.html">API</a></li>
      <li class="menu__item"><a class="menu__link menu__link--active" href="/gigtest/dist/prices.html">Тарифы</a></li>
      <li class="menu__item"><a class="menu__link" href="/gigtest/dist/knowledge.html">База знаний</a></li>
      <li class="menu__item"><a class="menu__link" href="/gigtest/dist/contacts.html">Контакты</a></li>
      </ul>
      </nav>
      <div class="header__phone">
      <div class="phone">
      <svg class="phone__icon">
      <use xlink:href="img/icons/icons.svg#telephone-fill"></use>
      </svg>
      <div class="phone__item">
      <div class="phone__top">с&nbsp;9–00&nbsp;до&nbsp;18–00&nbsp;Пн-Пт</div><a class="phone__bottom" href="tel:+78007003060">8&nbsp;800&nbsp;700-30-60</a>
      </div>
      </div>
      </div>
      <div class="hamburger">
      <svg class="hamburger__icon">
      <use xlink:href="img/icons/icons.svg#hamburger"></use>
      </svg>
      <svg class="hamburger__close">
      <use xlink:href="img/icons/icons.svg#cross"></use>
      </svg>
      </div>
      </div>
      </header>
      main
        .breadcrumbs
          .breadcrumbs__container
            ul.breadcrumbs__list
              li.breadcrumbs__item
                a(href="/gigtest/dist/integration.html").breadcrumbs__link Интеграция с ЕГИСЗ
              li.breadcrumbs__item Тарифы
        .section-page
          .section-page__prices
            .section-page__container
              .section-page__price
                h1.page-title Тарифы
              .section-price__prices
                .section-price__row
                  .swiper-wrapper
                    .swiper-slide.swiper-slide--active-card
                      .section-price__col
                        .price-card
                          .price-card__head
                            .price-card__head-price 5 000 <span>₽/мес</span>
                            .price-card__head-descr Безлимитная передача электронных медицинских документов
                            a(href="/gigtest/dist/form-in-tarif.html").btn.btn--accent.btn--medium.btn--fw Подключить
                          .price-card__bodyItem
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#computer-cloud")
                              .card-bodyItem__text Бесплатное подключение
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#integration-security")
                              .card-bodyItem__text Защищённый канал
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#computer-check")
                              .card-bodyItem__text Подключение от 3 дней
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#vm-connect")
                              .card-bodyItem__text Интеграция с любой МИС*
                    .swiper-slide
                      .section-price__col
                        .price-card
                          .price-card__head
                            .price-card__head-price 2 000 <span>₽/мес</span>
                            .price-card__head-descr Передача до 500 электронных медицинских документов <br>в месяц
                            a(href="/gigtest/dist/form-in-tarif.html").btn.btn--fw.btn--accent.btn--medium Подключить
                          .price-card__bodyItem
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#computer-cloud")
                              .card-bodyItem__text Бесплатное подключение
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#integration-security")
                              .card-bodyItem__text Защищённый канал
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#computer-check")
                              .card-bodyItem__text Подключение от 3 дней
                            .card-bodyItem
                              svg.card-bodyItem__icon
                                use(xlink:href="@img/icons/icons.svg#vm-connect")
                              .card-bodyItem__text Интеграция с любой МИС*
                  .section-price__dots
                    .price-dots
              .cards-descr * При наличии технической возможности со стороны МИС 
      include html/footer
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src="https://code.jquery.com/jquery-3.7.1.min.js")
  script(src='js/app.js')