doctype html
html
  include html/head
  body
    .wrapper
      include html/header
      main
        .breadcrumbs
          .breadcrumbs__container
            ul.breadcrumbs__list
              li.breadcrumbs__item
                a(href="").breadcrumbs__link Главная
              li.breadcrumbs__item Отзывы
        .section-page
          .section-page__wrap
            .section-page__container
              .section-page__title
                h1.page-title Отзывы
              .section-page__reviews 
                .review-item
                  .review-item__block
                    .review-item__left
                      .review-item__title Отзыв ООО «Ваш доктор»
                      .review-item__content Медицинский центр «Ваш Доктор» выражает глубокую благодарность коллективу ООО «Прикладное программное обеспечение» за взаимовыгодное плодотворное сотрудничество. Ваша помощь в организации дистанционной профессиональной гигиенической подготовки граждан на базе нашего медицинского центра позволила добиться серьёзных результатов и была крайне важна в условиях пандемии новой короновирусной инфекции <br class="br-desctop-rev br-desctop-tablet"> COVID–19.<br>Желаем Вашему коллективу вдохновения, свершения всех начинаний и планов, процветания, крепкого здоровья и благополучия!<br> Искренне надеемся и рассчитываем на укрепление и расширение наших партнёрских отношений!
                    .review-item__right
                      img(src="@img/review1.png", alt="")
                .review-item
                  .review-item__block
                    .review-item__left
                      .review-item__title Отзыв ФБУЗ «Центр гигиены и эпидемиологии <br class="br-desctop-rev br-desctop-tablet"> в Воронежской области»
                      .review-item__content Федеральное бюджетное учреждение здравоохранения «Центр гигиены и эпидемиологии в Воронежской области» в лице главного врача Стёпкина Юрия Ивановича выражает Вашему коллективу свою признательность за плодотворное сотрудничество и неоценимую помощь в организации дистанционной профессиональной гигиенической подготовки населения на территории Воронежской области посредством системы «ГИГТЕСТ».<br class ="br-desctop-md"> Особую активность данная форма подготовки приобрела в период пандемии COVID–19. <br> Желаем вам вдохновения и неиссякаемой творческой энергии, свершения всех начинаний и планов, крепкого здоровья и благополучия! <br class="br-desctop-rev br-desctop-tablet"> Спасибо за ваш труд!
                    .review-item__right
                      img(src="@img/review2.png", alt="")
                .review-item
                  .review-item__block
                    .review-item__left
                      .review-item__title Отзыв ФБУЗ «Центр гигиены и эпидемиологии<br class="br-desctop-rev br-desctop-tablet"> в Еврейском Автономном округе»
                      .review-item__content Федеральное бюджетное учреждение здравоохранения «Центр гигиены и эпидемиологии в Еврейской автономной области» в лице главного врача Василия Алексеевича Яновича выражает Вашему коллективу свою признательность за плодотворное сотрудничество и оказание услуг по развитию и сопровождению программного обеспечения «гигиеническое обучение и аттестация». <br>Желаем вам вдохновения и неиссякаемой творческой энергии, совершения всех начинаний и планов, крепкого здоровья и счастья<br class="br-desctop-rev br-desctop-tablet"> в личной жизни!<br> Спасибо вам за ваш труд!
                    .review-item__right
                      img(src="@img/review3.png", alt="")
                .review-item
                  .review-item__block
                    .review-item__left
                      .review-item__title Отзыв ФБУЗ «Центр гигиены и эпидемиологии <br class="br-desctop-rev br-desctop-tablet">по железнодорожному транспорту»
                      .review-item__content Астраханский филиал Федерального бюджетного учреждения здравоохранения по железнодорожному транспорту выражает вам искреннюю благодарность за оказываемые услуги по абонентскому обслуживанию и доступу к базе данных «Программное обеспечение гигиеническое обучение и аттестация», за оказание спонсорской поддержки, выразившееся в пожертвовании Филиалу персонального компьютера для организации санитарно-гигиенического обучения и аттестации. Мы искренне надеемся, что вас и коллектив<br class="br-mobile"> вашей компании «Прикладное программное обеспечение», ждут только успешные проекты, профессиональное благополучие и финансовый рост. <br> Желаем вам лёгкого воплощения всех ваших замыслов.
                    .review-item__right
                      img(src="@img/review4.png", alt="")
                .review-item
                  .review-item__block
                    .review-item__left
                      .review-item__title Отзыв ФБУЗ «Центр <br class="br-mobile"> гигиены и эпидемиологии <br class="br-desctop-tablet"> в Тамбовской области»
                      .review-item__content Руководство Филиала ФБУЗ «Центр гигиены и эпидемиологии в Тамбовской области» в г. Мичуринске, Мичуринском, Петровском, Первомайском, Староюрьевском и Никифоровском районах выражает искреннюю признательность и большую благодарность коллективу ООО «Прикладное программное обеспечение» за разработку программного комплекса Estimates для составления сметной документации в сфере санитарно-эпидемиологических услуг. За последние три года вами проделана кропотливая работа по внедрению наших непростых пожеланий и нововведений. Что ещё раз демонстрирует не только высокий профессионализм сотрудников, но и очевидную готовность работать с нестандартными задачами.
                    .review-item__right
                      img(src="@img/review5.png", alt="")
                .review-item
                  .review-item__block
                    .review-item__left
                      .review-item__title Отзыв ФБУЗ «Центр гигиены и эпидемиологии <br class="br-desctop-tablet"> в Пензенской области»
                      .review-item__content Федеральное бюджетное учреждение здравоохранения «Цунтр гигиены и эпидемиологии в Пензенской области» в лице главного врача Геннадия Валентиновича Пантелеева выражает Вашему коллективу свою признательность за плодотворное сотрудничество и оказание услуг по развитию и сопровождению программного обеспечения «гигиеническое обучение и аттестация».<br> Желаем вам вдохновения и неиссякаемой творческой энергии, свершения <br class="br-desctop-rev br-desctop-tablet">всех начинаний и планов!
                    .review-item__right
                      img(src="@img/review6.png", alt="")
                .review-item
                  .review-item__block
                    .review-item__left
                      .review-item__title Отзыв ФБУЗ «Центр гигиены и эпидемиологии <br class="br-desctop-tablet"> в Республике Татарстан»
                      .review-item__content ФБУЗ «Центр гигиены и эпидемиологии в Республике Татарстан» выражает вам <br class="br-mobile"> искреннюю благодарность за творческий подход <br class="br-mobile">и организацию стабильной работы сервиса по оформлению личных медицинских книжек и профессиональной гигиенической подготовки с аттестацией должностных лиц, работников различных профессиональных<br class="br-mobile"> групп.<br> Желаем вам здоровья, успехов и новых профессиональных достижений! <br class="br-desctop-tablet"><br class="br-mobile">Пусть ваша целеустремлённость и увлечённость работой станет залогом дальнейшей успешной деятельности нашей Службы в деле обеспечения санитарно-эпидемиологического благополучия населения!<br> Надеемся на дальнейшее плодотворное сотрудничество!
                    .review-item__right
                      img(src="@img/review7.png", alt="")
                .review-item
                  .review-item__block
                    .review-item__left
                      .review-item__title Отзыв ФБУЗ «Центр гигиены и эпидемиологии <br class="br-desctop-tablet"> в Республике Бурятия»
                      .review-item__content ФБУЗ «Центр гигиены и эпидемиологии в Республике Бурятия» выражает искреннюю признательность и благодарность коллективу ООО «Прикладное программное обеспечение» за плодотворное сотрудничество и неоценимую помощь в организации дистанционной профессиональной гигиенической подготовки дескретированного контингента на территории Республики Бурятия с охватом всех филиалов посредством системы «ГИГТЕСТ». <br> Ваши специалисты всегда положительно реагируют на все наши непростые задачи и нововведения, демонстрируя высокий уровень профессионализма и умение оперативно решать поставленные перед нами задачи.<br> Желаем вам крепкого здоровья, производственных успехов, финансового благополучия, творческой энергии, достижения всех поставленных целей и нашего дальнейшего успешного сотрудничества!
                    .review-item__right
                      img(src="@img/review8.png", alt="") 
      include html/footer
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src='js/app.js')