doctype html
html
  include html/head
  body
    .wrapper
      include html/header3
      main
        section.section-main
          .section-main__slider-seo
            .swiper-wrapper
              .swiper-slide
                .slider-item-seo
                  .slider-item-seo__container
                    .slider-item-seo__col
                      .slider-item-seo__title3 SEO-продвижение сайтов в медицинской тематике
                      .slider-item-seo__descr Консорциум Гигтест.Медицина & <a href="https://bf360.ru/" target="_blanc">BF360</a>
                      a(href="#" data-hystmodal="#myModal22").btn.btn--accent.btn--medium Оставить заявку
                    .slider-item-seo__col
                      img(src="@img/seo.png" alt="").slider-item-seo__col-img4
            .section-main__dots
        section.section-numbers
          .section-numbers__container
            h2.section-title О нас в цифрах
            .section-numbers__row
              .section-numbers__col
                .numbers-item
                  .numbers-item__place 14 место
                  .numbers-item__info Рейтинг Рунета 2024
                  .numbers-item__descr Лучшие по продвижению<br> сайтов
              .section-numbers__col
                .numbers-item
                  .numbers-item__place 3 место
                  .numbers-item__info Рейтинг Рунета 2024
                  .numbers-item__descr SEO-аналитика<br> и консалтинг
              .section-numbers__col
                .numbers-item
                  .numbers-item__place 25 место
                  .numbers-item__info Рейтинг Рунета 2024
                  .numbers-item__descr SEO-продвижение<br> в сфере медицины
              .section-numbers__col
                .numbers-item
                  .numbers-item__place Топ-50
                  .numbers-item__info SEOnews 2024
                  .numbers-item__descr SEO глазами<br> клиентов
        section.section-grid-seo#section-grid-seo
          .section-grid-seo__seo
            .section-grid-seo__fwContainer
              .section-grid-seo__title2
                h1.section-title Услуги
              .section-grid-seo__row
                .section-grid-seo__col
                  .service-item
                    .service-item__title Настройка сайтов <br>по Федеральному закону
                    .service-item__content Аудит сайта и разработка ТЗ <br>на соответствие требованиям <br>к медицинским организациям
                .section-grid-seo__col
                  .service-item.service-item--active
                    .service-item__title Комплексное <br>SEO-продвижение сайта
                    .service-item__content Привлечение поискового трафика<br> и увеличение обращений
                .section-grid-seo__col
                  .service-item
                    .service-item__title Базовая поисковая <br>оптимизация сайта
                    .service-item__content Настройка структуры, подготовка контента, техническая настройка, подключение сервисов<br class="br-mobile"> аналитики
                .section-grid-seo__col
                  .service-item
                    .service-item__title SEO-сопровождение <br>разработки сайта
                    .service-item__content Проектирование структуры на основе <br class="d-block d-sm-none">поискового спроса, контроль публикации
                .section-grid-seo__col
                  .service-item
                    .service-item__title Управление репутацией <br>в поиске
                    .service-item__content Настройка профиля компании, работа <br class="d-block d-sm-none">с отзывами и рекомендациями
                .section-grid-seo__col
                  .service-item
                    .service-item__title Техническая <br> поддержка сайтов
                    .service-item__content Реализация правок на сайте<br class="br-mobile"> по ТЗ <br class="d-block d-sm-none">на SEO, доработка <br class="br-mobile">и развитие функционала
        section.section-advantages
          .section-advantages__container
            h2.section-title Преимущества
            .section-advantages__row
              .section-advantages__col
                .advantages-item
                  svg.advantages-item__icon
                    use(xlink:href="@img/icons/icons.svg#seo")
                  .advantages-item__title Высокая экспертиза в SEO
                  .advantages-item__text Подтверждена ведущими <br class="d-none d-lg-block">рейтингами и крупными брендами
              .section-advantages__col
                .advantages-item
                  svg.advantages-item__icon
                    use(xlink:href="@img/icons/icons.svg#specialisation")
                  .advantages-item__title Специализация в медицине
                  .advantages-item__text Продвигаем частные клиники с 2012 года
              .section-advantages__col
                .advantages-item
                  svg.advantages-item__icon
                    use(xlink:href="@img/icons/icons.svg#connect")
                  .advantages-item__title Комплексное IT-обеспечение
                  .advantages-item__text Совместная работа  Гигтест.Медицина и BF360: МИС, передача в ЕГИСЗ, развитие сайта
              .section-advantages__col
                .advantages-item
                  svg.advantages-item__icon
                    use(xlink:href="@img/icons/icons.svg#strategy")
                  .advantages-item__title Грамотная стратегия
                  .advantages-item__text Целеориентированный подход с учётом специфики проекта
        section.section-prices
          .section-prices__container
            h2.section-title Тариф
            .section-prices__descr Не работаем по готовым тарифам, включаем только нужный список задач
            .section-prices__row
              .prices-card
                .prices-card__head
                  .prices-card__head-price 2 000 <span>₽/час</span>
                  .prices-card__head-descr Средняя стоимость <br class="br-mobile"> специалиста<br class="br-mobile"> проектной команды
                  a(href="").btn.btn--white.btn--medium.btn--fw Подключить
                .prices-card__bodyItem
                  .card-bodyItemPrices
                    svg.card-bodyItemPrices__icon
                      use(xlink:href="@img/icons/icons.svg#page-plus")
                    .card-bodyItemPrices__text Бесплатный SEO-аудит
                  .card-bodyItemPrices
                    svg.card-bodyItemPrices__icon
                      use(xlink:href="@img/icons/icons.svg#team")
                    .card-bodyItem__text Аттестованные специалисты
                  .card-bodyItemPrices
                    svg.card-bodyItemPrices__icon
                      use(xlink:href="@img/icons/icons.svg#manager")
                    .card-bodyItem__text Персональный менеджер
                  .card-bodyItemPrices
                    svg.card-bodyItemPrices__icon
                      use(xlink:href="@img/icons/icons.svg#flexibility")
                    .card-bodyItemPrices__text Гибкий подход
        section.section-question.section-question--bg-lightblue
          .section-question__container
            h2.section-title Давайте обсудим проект
            .section-question__wrap
              .section-question__row
                .section-question__col
                  img(src="@img/question-image.png" srcset="@img/question-image@2x.png 2x", alt="").section-question__image
                .section-question__col
                  form.form-question
                    input(type="text" placeholder="Введите имя")
                    input(type="text" placeholder="+7 (___) ___ - __ - __").form-input-tel
                    .ycaptcha
                      img(src="@img/captcha.png", alt="")
                    a(href="").btn.btn--medium.btn--accent.btn--fw Получить бесплатный аудит
        section.section-contentSeo#section-contentSeo
          .section-contentSeo__container
            .section-contentSeo__title
              h2.section-title Особенности продвижения <br class="br-mobile">сайтов<br class="d-block d-sm-none">в медицинской тематике
            .section-contentSeo__block
              p Медицинские сайты относятся к тематике Your Money or Your Life – «Кошелёк или жизнь». Такие проекты напрямую влияют на здоровье и благополучие пользователей, поэтому поисковые системы уделяют особое внимание <br class="d-none d-md-block d-sm-none">оценке качества контента в YMYL-тематике.
              p Оптимизацию и продвижение сайта значительно упрощает учёт требований федеральных законов, Правительства и Минздрава РФ к содержанию <br class="d-none d-md-block d-sm-none"> и форме предоставления информации, размещаемой на официальных сайтах медицинских организаций.
              div
                p Среди обязательных пунктов — наличие следующего контента и функционала: <br>
                div — Перечень платных медицинских услуг с указанием цен в рублях;<br>
                div — Порядок, условия и сроки предоставления платных медицинских услуг;<br>
                div — Информация о надзорных органах и способах обращения в них;<br>
                div — Информация о врачах, включая сведения об образовании<br class="br-mobile"> и квалификации;<br>
                div — График работы медицинских <br class="br-mobile">работников, оказывающих платные<br class="d-none d-md-block"> медицинские услуги;<br>
                div — Возможность выражения мнений получателями медицинских услуг<br class="d-none d-md-block"> (отзывы);<br>
                div — Версия для слабовидящих и др.
              p Соответствующие метрики поисковых систем – E-E-A-T в Google, Проксима <br class="d-none d-md-block"> в Яндекс – оценивают экспертность, компетентность, авторитетность<br class="d-none d-md-block"> и достоверность контента сайтов. Для эффективного SEO-продвижения <br class="d-none d-md-block">необходимо размещать исчерпывающую информацию о деятельности <br class="d-none d-md-block d-sm-none">организации и авторах текстового контента.
              .section-contentSeo__images
                img(src="@img/google.png", alt="")
                img(src="@img/yandex.png", alt="")
        section.section-types
          .section-types__container
            .section-types__title
              h2.section-title Типы проектов
            .section-types-grid
              .section-types-grid__row
                .section-types-grid__col
                  .section-types-item
                    svg.section-types-item__icon
                      use(xlink:href="@img/icons/icons.svg#type1")
                    .section-types-item__title Медицинские <br class="d-block d-sm-none">центры
                .section-types-grid__col
                  .section-types-item
                    svg.section-types-item__icon
                      use(xlink:href="@img/icons/icons.svg#type2")
                    .section-types-item__title Сети клиник
                .section-types-grid__col
                  .section-types-item
                    svg.section-types-item__icon
                      use(xlink:href="@img/icons/icons.svg#type3")
                    .section-types-item__title Центры <br class="d-block d-sm-none">лабораторных <br>исследований
                .section-types-grid__col
                  .section-types-item
                    svg.section-types-item__icon
                      use(xlink:href="@img/icons/icons.svg#type4")
                    .section-types-item__title Центры инструментальной диагностики
                .section-types-grid__col
                  .section-types-item
                    svg.section-types-item__icon
                      use(xlink:href="@img/icons/icons.svg#type5")
                    .section-types-item__title Частные <br class="d-block d-sm-none">кабинеты врачей
                .section-types-grid__col
                  .section-types-item
                    svg.section-types-item__icon
                      use(xlink:href="@img/icons/icons.svg#type6")
                    .section-types-item__title Стоматологии
                .section-types-grid__col
                  .section-types-item
                    svg.section-types-item__icon
                      use(xlink:href="@img/icons/icons.svg#type7")
                    .section-types-item__title Косметологии
                .section-types-grid__col
                  .section-types-item
                    svg.section-types-item__icon
                      use(xlink:href="@img/icons/icons.svg#type8")
                    .section-types-item__title Прочие медицинские организации
        section.section-clients#section-clients
          .section-clients__container
            .section-clients__title
              h2.section-title 100+ клиентов за последние 5 лет
            .section-clients__block
              .section-clients__row
                .swiper-wrapper
                  .swiper-slide
                    .partner-item
                      .partner-item__img
                        img(src="@img/partner1.png", alt="")
                      .partner-item__img
                        img(src="@img/partner2.png", alt="")
                  .swiper-slide
                    .partner-item
                      .partner-item__img
                        img(src="@img/partner3.png", alt="")
                      .partner-item__img
                        img(src="@img/partner4.png", alt="")
                  .swiper-slide
                    .partner-item
                      .partner-item__img
                        img(src="@img/partner5.png", alt="")
                      .partner-item__img
                        img(src="@img/partner6.png", alt="")
                  .swiper-slide
                    .partner-item
                      .partner-item__img
                        img(src="@img/partner7.png", alt="")
                      .partner-item__img
                        img(src="@img/partner8.png", alt="")
                  .swiper-slide
                    .partner-item
                      .partner-item__img
                        img(src="@img/partner9.png", alt="")
                      .partner-item__img
                        img(src="@img/partner10.png", alt="")
                  .swiper-slide
                    .partner-item
                      .partner-item__img
                        img(src="@img/partner1.png", alt="")
                      .partner-item__img
                        img(src="@img/partner2.png", alt="")
                  .swiper-slide
                    .partner-item
                      .partner-item__img
                        img(src="@img/partner1.png", alt="")
                      .partner-item__img
                        img(src="@img/partner2.png", alt="")
              .section-clients__arrows
                .section-clients__arrows-left
                  svg.section-clients__icon
                    use(xlink:href="@img/icons/icons.svg#arrow-left")
                .section-clients__arrows-right
                  svg.section-clients__icon
                    use(xlink:href="@img/icons/icons.svg#arrow-right")
        section.section-keys
          .section-keys__container
            .section-keys__title
              h2.section-title Кейсы
            .section-keys__descr Поисковое продвижение сайта клиники Atribeautekids
            .section-keys__row
              .section-keys__col
                img(src="@img/keys1.png", alt="")
                .section-keys__bottom
                  span Сайт:
                  a(href="") atribeautekids.ru
              .section-keys__col
                img(src="@img/keys2.png", alt="")
            .section-keys__button
              a(href="/dist/keys.html").btn.btn--bordered.btn--wide.btn--medium Все кейсы
        section.section-goals
          .section-goals__container
            .section-goals__title
              h2.section-title Цели поискового продвижения
            .section-goals__row
              .section-goals__col
                .goal-item
                  <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg" class="goal-item__icon"><g clip-path="url(#clip0_1959_11862)"><path d="M36.8901 34.6998L27.6159 25.4183C33.0581 18.7595 32.0745 8.95344 25.4158 3.5113C18.757 -1.93084 8.95821 -0.940031 3.51608 5.71147C-1.92606 12.363 -0.942542 22.1763 5.71624 27.6184C11.4498 32.3029 19.6895 32.3029 25.423 27.6184L34.6973 36.8927C35.3165 37.4901 36.3 37.4755 36.8974 36.8562C37.473 36.2515 37.473 35.2972 36.8901 34.6998ZM15.5879 28.0264C8.7178 28.0264 3.15181 22.4604 3.15181 15.5904C3.15181 8.72031 8.72508 3.16161 15.5879 3.16161C22.4506 3.16161 28.0239 8.72759 28.0239 15.5904C28.0166 22.4531 22.4506 28.0191 15.5879 28.0264Z" fill="#26599B"/><mask id="path-2-inside-1_1959_11862" fill="white"><path d="M12.4375 9.57617C12.4375 9.05403 12.6449 8.55327 13.0141 8.18406C13.3833 7.81484 13.8841 7.60742 14.4062 7.60742H16.5938C17.1159 7.60742 17.6167 7.81484 17.9859 8.18406C18.3551 8.55327 18.5625 9.05403 18.5625 9.57617V11.1249H21.4062C21.9284 11.1249 22.4292 11.3323 22.7984 11.7016C23.1676 12.0708 23.375 12.5715 23.375 13.0937V22.7187C23.375 22.8927 23.3059 23.0596 23.1828 23.1827C23.0597 23.3058 22.8928 23.3749 22.7188 23.3749H8.28125C8.1072 23.3749 7.94028 23.3058 7.81721 23.1827C7.69414 23.0596 7.625 22.8927 7.625 22.7187V15.7187C7.625 15.1965 7.83242 14.6958 8.20163 14.3266C8.57085 13.9573 9.07161 13.7499 9.59375 13.7499H12.4375V9.57617ZM13.75 22.0624H17.25V9.57617C17.25 9.40212 17.1809 9.2352 17.0578 9.11213C16.9347 8.98906 16.7678 8.91992 16.5938 8.91992H14.4062C14.2322 8.91992 14.0653 8.98906 13.9422 9.11213C13.8191 9.2352 13.75 9.40212 13.75 9.57617V22.0624ZM12.4375 15.0624H9.59375C9.4197 15.0624 9.25278 15.1316 9.12971 15.2546C9.00664 15.3777 8.9375 15.5446 8.9375 15.7187V22.0624H12.4375V15.0624ZM18.5625 22.0624H22.0625V13.0937C22.0625 12.9196 21.9934 12.7527 21.8703 12.6296C21.7472 12.5066 21.5803 12.4374 21.4062 12.4374H18.5625V22.0624Z"/></mask><path d="M12.4375 9.57617C12.4375 9.05403 12.6449 8.55327 13.0141 8.18406C13.3833 7.81484 13.8841 7.60742 14.4062 7.60742H16.5938C17.1159 7.60742 17.6167 7.81484 17.9859 8.18406C18.3551 8.55327 18.5625 9.05403 18.5625 9.57617V11.1249H21.4062C21.9284 11.1249 22.4292 11.3323 22.7984 11.7016C23.1676 12.0708 23.375 12.5715 23.375 13.0937V22.7187C23.375 22.8927 23.3059 23.0596 23.1828 23.1827C23.0597 23.3058 22.8928 23.3749 22.7188 23.3749H8.28125C8.1072 23.3749 7.94028 23.3058 7.81721 23.1827C7.69414 23.0596 7.625 22.8927 7.625 22.7187V15.7187C7.625 15.1965 7.83242 14.6958 8.20163 14.3266C8.57085 13.9573 9.07161 13.7499 9.59375 13.7499H12.4375V9.57617ZM13.75 22.0624H17.25V9.57617C17.25 9.40212 17.1809 9.2352 17.0578 9.11213C16.9347 8.98906 16.7678 8.91992 16.5938 8.91992H14.4062C14.2322 8.91992 14.0653 8.98906 13.9422 9.11213C13.8191 9.2352 13.75 9.40212 13.75 9.57617V22.0624ZM12.4375 15.0624H9.59375C9.4197 15.0624 9.25278 15.1316 9.12971 15.2546C9.00664 15.3777 8.9375 15.5446 8.9375 15.7187V22.0624H12.4375V15.0624ZM18.5625 22.0624H22.0625V13.0937C22.0625 12.9196 21.9934 12.7527 21.8703 12.6296C21.7472 12.5066 21.5803 12.4374 21.4062 12.4374H18.5625V22.0624Z" fill="#26599B"/><path d="M14.4062 7.60742V4.60742V7.60742ZM18.5625 11.1249H15.5625V14.1249H18.5625V11.1249ZM21.4062 11.1249V8.12492V11.1249ZM12.4375 13.7499V16.7499H15.4375V13.7499H12.4375ZM13.75 22.0624H10.75V25.0624H13.75V22.0624ZM17.25 22.0624V25.0624H20.25V22.0624H17.25ZM17.25 9.57617H20.25H17.25ZM16.5938 8.91992V5.91992V8.91992ZM14.4062 8.91992V5.91992V8.91992ZM12.4375 15.0624H15.4375V12.0624H12.4375V15.0624ZM8.9375 15.7187H5.9375H8.9375ZM8.9375 22.0624H5.9375V25.0624H8.9375V22.0624ZM12.4375 22.0624V25.0624H15.4375V22.0624H12.4375ZM18.5625 22.0624H15.5625V25.0624H18.5625V22.0624ZM22.0625 22.0624V25.0624H25.0625V22.0624H22.0625ZM18.5625 12.4374V9.43742H15.5625V12.4374H18.5625ZM15.4375 9.57617C15.4375 9.84968 15.3289 10.112 15.1355 10.3054L10.8928 6.06273C9.96099 6.99456 9.4375 8.25838 9.4375 9.57617H15.4375ZM15.1355 10.3054C14.9421 10.4988 14.6798 10.6074 14.4062 10.6074V4.60742C13.0885 4.60742 11.8246 5.13091 10.8928 6.06273L15.1355 10.3054ZM14.4062 10.6074H16.5938V4.60742H14.4062V10.6074ZM16.5938 10.6074C16.3202 10.6074 16.0579 10.4988 15.8645 10.3054L20.1072 6.06273C19.1754 5.13091 17.9115 4.60742 16.5938 4.60742V10.6074ZM15.8645 10.3054C15.6712 10.112 15.5625 9.84968 15.5625 9.57617H21.5625C21.5625 8.25838 21.039 6.99456 20.1072 6.06273L15.8645 10.3054ZM15.5625 9.57617V11.1249H21.5625V9.57617H15.5625ZM18.5625 14.1249H21.4062V8.12492H18.5625V14.1249ZM21.4062 14.1249C21.1327 14.1249 20.8704 14.0163 20.677 13.8229L24.9197 9.58023C23.9879 8.64841 22.724 8.12492 21.4062 8.12492V14.1249ZM20.677 13.8229C20.4836 13.6295 20.375 13.3672 20.375 13.0937H26.375C26.375 11.7759 25.8515 10.5121 24.9197 9.58023L20.677 13.8229ZM20.375 13.0937V22.7187H26.375V13.0937H20.375ZM20.375 22.7187C20.375 22.0971 20.6219 21.5009 21.0615 21.0614L25.3041 25.304C25.9898 24.6183 26.375 23.6884 26.375 22.7187H20.375ZM21.0615 21.0614C21.501 20.6219 22.0972 20.3749 22.7188 20.3749V26.3749C23.6884 26.3749 24.6184 25.9897 25.3041 25.304L21.0615 21.0614ZM22.7188 20.3749H8.28125V26.3749H22.7188V20.3749ZM8.28125 20.3749C8.90286 20.3749 9.499 20.6219 9.93853 21.0614L5.69589 25.304C6.38157 25.9897 7.31155 26.3749 8.28125 26.3749V20.3749ZM9.93853 21.0614C10.3781 21.5009 10.625 22.0971 10.625 22.7187H4.625C4.625 23.6884 5.01021 24.6184 5.69589 25.304L9.93853 21.0614ZM10.625 22.7187V15.7187H4.625V22.7187H10.625ZM10.625 15.7187C10.625 15.9922 10.5164 16.2545 10.323 16.4479L6.08031 12.2052C5.14849 13.1371 4.625 14.4009 4.625 15.7187H10.625ZM10.323 16.4479C10.1296 16.6413 9.86726 16.7499 9.59375 16.7499V10.7499C8.27595 10.7499 7.01213 11.2734 6.08031 12.2052L10.323 16.4479ZM9.59375 16.7499H12.4375V10.7499H9.59375V16.7499ZM15.4375 13.7499V9.57617H9.4375V13.7499H15.4375ZM13.75 25.0624H17.25V19.0624H13.75V25.0624ZM20.25 22.0624V9.57617H14.25V22.0624H20.25ZM20.25 9.57617C20.25 8.60647 19.8648 7.67649 19.1791 6.99081L14.9365 11.2335C14.4969 10.7939 14.25 10.1978 14.25 9.57617H20.25ZM19.1791 6.99081C18.4934 6.30513 17.5634 5.91992 16.5938 5.91992V11.9199C15.9721 11.9199 15.376 11.673 14.9365 11.2335L19.1791 6.99081ZM16.5938 5.91992H14.4062V11.9199H16.5938V5.91992ZM14.4062 5.91992C13.4366 5.91992 12.5066 6.30513 11.8209 6.99081L16.0635 11.2335C15.624 11.673 15.0278 11.9199 14.4062 11.9199V5.91992ZM11.8209 6.99081C11.1352 7.67649 10.75 8.60648 10.75 9.57617H16.75C16.75 10.1978 16.5031 10.7939 16.0635 11.2335L11.8209 6.99081ZM10.75 9.57617V22.0624H16.75V9.57617H10.75ZM12.4375 12.0624H9.59375V18.0624H12.4375V12.0624ZM9.59375 12.0624C8.62405 12.0624 7.69407 12.4476 7.00839 13.1333L11.251 17.376C10.8115 17.8155 10.2154 18.0624 9.59375 18.0624V12.0624ZM7.00839 13.1333C6.32271 13.819 5.9375 14.749 5.9375 15.7187H11.9375C11.9375 16.3403 11.6906 16.9364 11.251 17.376L7.00839 13.1333ZM5.9375 15.7187V22.0624H11.9375V15.7187H5.9375ZM8.9375 25.0624H12.4375V19.0624H8.9375V25.0624ZM15.4375 22.0624V15.0624H9.4375V22.0624H15.4375ZM18.5625 25.0624H22.0625V19.0624H18.5625V25.0624ZM25.0625 22.0624V13.0937H19.0625V22.0624H25.0625ZM25.0625 13.0937C25.0625 12.124 24.6773 11.194 23.9916 10.5083L19.749 14.751C19.3094 14.3114 19.0625 13.7153 19.0625 13.0937H25.0625ZM23.9916 10.5083C23.3059 9.82263 22.3759 9.43742 21.4062 9.43742V15.4374C20.7847 15.4374 20.1885 15.1905 19.749 14.751L23.9916 10.5083ZM21.4062 9.43742H18.5625V15.4374H21.4062V9.43742ZM15.5625 12.4374V22.0624H21.5625V12.4374H15.5625Z" fill="#26599B" mask="url(#path-2-inside-1_1959_11862)"/></g><defs><clipPath id="clip0_1959_11862"><rect width="37.33" height="37.33" fill="white"/></clipPath></defs></svg>
                  .goal-item__text Видимость в поиске
              .section-goals__col
                .goal-item
                  svg.goal-item__icon
                    use(xlink:href="@img/icons/icons.svg#bar-line")
                  .goal-item__text Поисковый трафик
              .section-goals__col
                .goal-item
                  svg.goal-item__icon
                    use(xlink:href="@img/icons/icons.svg#funnel-light")
                  .goal-item__text Конверсия
        section.section-requirements#section-requirements
          .section-requirements__container
            .section-requirements__title 
              h2.section-title Требования федеральных законов к сайтам<br class="d-none d-lg-block"> медицинской тематики
            .section-requirements__row
              p Согласно российскому законодательству, государственные и частные клиники, а также прочие организации данной сферы обязаны соблюдать законы и постановления, регулирующие предоставление медицинских услуг. В том числе эти правовые нормы затрагивают контентное наполнение интернет-ресурсов. Чтобы избежать штрафов от контролирующих органов и заслужить доверие пользователей и поисковых систем, необходимо проверять медицинские сайты на соответствие следующим нормативно-правовым актам:
              .section-requirements__list
                a(href="https://docs.cntd.ru/document/420247233") Приказ Минздрава РФ от 30.12.2014 № 956н «Требования к содержанию и форме предоставления информации<br class="d-none d-lg-block d-sm-none"> о деятельности медицинских организаций, размещаемой <br class="d-none d-lg-block d-sm-none">на официальных сайтах в информационно-телекоммуникационной сети <br class="d-none d-lg-block">Интернет».
                a(href="https://docs.cntd.ru/document/1301535919") Постановление Правительства РФ от 11.05.2023 г. № 736: <br class="d-none d-md-block"> «Об утверждении Правил предоставления медицинскими организациями платных медицинских услуг».
                a(href="https://docs.cntd.ru/document/902312609") Федеральный зaкон от 21.11.2011 № 323-ФЗ «Об основах охраны <br class="d-none d-md-block"> здоровья граждан в Российской Федерации».
                a(href="https://docs.cntd.ru/document/902247618") Федеральный закон от 29.11.2010 № 326-ФЗ «Об обязательном  <br class="d-none d-md-block">медицинском страховании в Российской Федерации».
                a(href="https://docs.cntd.ru/document/9014513") Федеральный закон от 24.11.1995 № 181-ФЗ «О социальной защите <br class="d-none d-md-block"> инвалидов в Российской Федерации».
                a(href="https://docs.cntd.ru/document/901990051") Федеральный закон от 27.07.2006 № 149-ФЗ «Об информации, <br class="d-none d-md-block"> информационных технологиях и о защите информации».
                a(href="https://docs.cntd.ru/document/901990046") Федеральный закон от 27.07.2006 № 152-ФЗ «О персональных данных».
                a(href="https://docs.cntd.ru/document/9005388") Закон РФ от 07.02.1992 № 2300–1 «О защите прав потребителей».
                a(href="https://docs.cntd.ru/document/901971356") Федеральный закон от 13.03.2006 № 38-ФЗ «О рекламе».
                a(href="https://docs.cntd.ru/document/902019731") Гражданский кодекс РФ, Часть четвёртая (ст. 1225–1551) от 18.12.2006 <br class="d-none d-md-block d-sm-none">№ 230-ФЗ.
                a(href="https://www.consultant.ru/document/cons_doc_LAW_5142/14c6c3902cffa17ab26d330b2fd4fae28e5cd059/") Гражданский кодекс РФ, Статья 152.1. Охрана изображения гражданина.
        section.section-work
          .section-work__container
            .section-work__title
              h2.section-title Как мы работаем
            .section-work__wrapper
              .section-work__row
                .section-work__col
                  .work-item
                    .work-item__circle
                      .work-item__number 1
                      svg.work-item__icon
                        use(xlink:href="@img/icons/icons.svg#steps1")
                    .work-item__text Проводим первичный <br>SEO-аудит сайта
                .section-work__col
                  .work-item
                    .work-item__circle
                      .work-item__number 2
                      svg.work-item__icon
                        use(xlink:href="@img/icons/icons.svg#steps2")
                    .work-item__text Формируем и оцениваем <br> список задач
                .section-work__col
                  .work-item
                    .work-item__circle
                      .work-item__number 3
                      svg.work-item__icon
                        use(xlink:href="@img/icons/icons.svg#steps3")
                    .work-item__text Согласовываем стратегию <br> SEO-продвижения и бюджет
              .section-work__row 
                .section-work__col
                  .work-item
                    .work-item__circle
                      .work-item__number 4
                      svg.work-item__icon
                        use(xlink:href="@img/icons/icons.svg#steps4")
                    .work-item__text Заключаем договор
                .section-work__col
                  .work-item
                    .work-item__circle
                      .work-item__number 5
                      svg.work-item__icon
                        use(xlink:href="@img/icons/icons.svg#steps5")
                    .work-item__text Выделяем персонального<br> менеджера и проектную<br> команду
                .section-work__col
                  .work-item
                    .work-item__circle
                      .work-item__number 6
                      svg.work-item__icon
                        use(xlink:href="@img/icons/icons.svg#steps6")
                    .work-item__text Ежемесячно отчитываемся <br> о результатах <br class="d-none d-lg-block"> и согласовываем<br> план на следующий месяц
        section.section-accordion-questions
          .section-accordion-questions__container
            .section-accordion-questions__title
              h2.section-title Часто задаваемые вопросы
            .section-accordion-questions__row
              .accordion
                .accordion-item
                  .accordion-item__wrap.active
                    .accordion-header
                      .accordion-header__name Какие услуги можно заказать для продвижения сайта <br class="d-none d-md-block d-sm-none">клиники?
                        svg.accordion-header__icon
                          use(xlink:href="@img/icons/icons.svg#arrow-down")
                    .accordion-content
                      .accordion-content__info Мы оказываем полный комплекс услуг поискового маркетинга:<br> — Аудит сайта на соответствие требованиям ФЗ;<br>— Комплексное SEO-продвижение (оптимизация структуры и контента, техническая настройка сайта, развитие ссылочного профиля и улучшение поведенческих характеристик, проработка мобильных и локальных факторов ранжирования);<br>— Управление репутацией клиники и врачей;<br>— Контекстная реклама для увеличения числа клиентов.
                .accordion-item
                  .accordion-item__wrap
                    .accordion-header
                      .accordion-header__name Какой результат мы получим от продвижения и в какие  сроки?
                        svg.accordion-header__icon
                          use(xlink:href="@img/icons/icons.svg#arrow-down")
                    .accordion-content
                      .accordion-content__info Мы индивидуально разработаем стратегию поискового продвижения под ваши цели. Основные KPI в SEO: позиции, трафик, лиды (обращения). Первые результаты будут заметны на 2–3 месяц продвижения.
                .accordion-item
                  .accordion-item__wrap
                    .accordion-header
                      .accordion-header__name Какие ограничения действуют при продвижении медицинских услуг?
                        svg.accordion-header__icon
                          use(xlink:href="@img/icons/icons.svg#arrow-down")
                    .accordion-content
                      .accordion-content__info На медицинские сайты распространяются ограничения, касающиеся рекламы медицинских услуг, препаратов и изделий.<br>В том числе:<br>— Тексты рекламного характера не должны быть направлены на детей и подростков;<br>— Запрещается гарантировать безопасность и эффективность медицинских препаратов или услуг;<br>— Не допускается создавать впечатление, что к врачу обращаться не обязательно;<br>— Запрещено приравнивать БАДы к лекарствам, а также рекламировать средства народной медицины.<br><br>С полным перечнем требований, связанных<br>с рекламой лекарственных средств и медицинских услуг, можно ознакомиться в статье<br>24 закона № 38-ФЗ от 13.03.2006.
                .accordion-item
                  .accordion-item__wrap
                    .accordion-header
                      .accordion-header__name Что требуется,<br class="br-mobile"> чтобы начать работы по SEO?
                        svg.accordion-header__icon
                          use(xlink:href="@img/icons/icons.svg#arrow-down")
                    .accordion-content
                      .accordion-content__info Закажите бесплатный аудит сайта, отправив заявку на сайте. По результатам анализа мы расскажем о точках роста и возможностях развития проекта, составим перечень работ и оценим их стоимость. Стартуем сразу после подписания договора (в т.ч. доступно в системе ЭДО).
        section.section-question#section-question
          .section-question__container
            h2.section-title Начнём с бесплатного<br class="br-mobile"> SEO-аудита
            .section-question__block
              .section-question__row
                .section-question__col
                  img(src="@img/question-image.png" srcset="@img/question-image@2x.png 2x", alt="").section-question__image
                .section-question__col
                  form.form-question
                    input(type="text" placeholder="Введите имя")
                    input(type="text" placeholder="+7 (___) ___ - __ - __").form-input-tel
                    .ycaptcha
                      img(src="@img/captcha.png", alt="")
                    a(href="").btn.btn--medium.btn--accent.btn--fw Заказать звонок
      include html/footer
      #myModal22.hystmodal(aria-hidden="true")
        .hystmodal__wrapContact
          .hystmodal__window(role="dialog" aria-modal="true")
            .hystmodal__containerContact
              .hystmodal__contact
                button(data-hystclose).hystmodal__close
                  svg.hystmodal__iconCloseBtn
                    use(xlink:href="@img/icons/icons.svg#close")
                h2.section-title Отправить заявку
                .section-question__block
                  .section-question__rows
                    .section-question__col
                      img(src="@img/question-image.png" srcset="@img/question-image@2x.png 2x", alt="").section-question__image
                    .section-question__col
                      form.form-question
                        input(type="text" placeholder="Введите имя")
                        input(type="text" placeholder="+7 (___) ___ - __ - __").form-input-tel
                        .ycaptcha
                          img(src="@img/captcha.png", alt="")
                        a(href="").btn.btn--medium.btn--accent.btn--fw Заказать звонок
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src='js/app.js')