doctype html
html
  include html/head
  body
    .wrapper
      include html/header2
      main
        .breadcrumbs
          .breadcrumbs__container
            ul.breadcrumbs__list
              li.breadcrumbs__item
                a(href="").breadcrumbs__link Главная
              li.breadcrumbs__item
                a(href="").breadcrumbs__link  База знаний 
              li.breadcrumbs__item Законность требования СНИЛС
        .section-page
          .section-page__snils
            .section-page__container
              .section-page__title
                h1.page-title Законность требования СНИЛС
              .section-page__contentSnils
                p
                  a(target="_blanc" href="https://account.garant.ru/login?login_challenge=RiZiNBOvRt-7qkWDIknqS8JqLNXiJUT30yRUG7dMhFugzsQmeaZhhQNVBWsx3_hcdV6wUJKTWYIX8tKOuKg0NLh05cKTXtY4EGnGA4D4JL_n1-kv939nRdp5NCWi4irnNJjBHyE-JOsnFMB_TLgbPAEmZ9Pev3k4Taq8KtIXo3JTcI5nGgKyYFGr-xjihBGeSKQeCW-g9CHN4qgpK3XifrgcvHYl9efDmf15PumCCbF9H30WWOEE9efxapcnRWVEcEj3xJRC2AU2sF0wLAA3qeVfxzk9O728_OkNeT0XGkre_Uvi7Hu7CWfNgdJT0AdAS4gguISd3N-shK4YEotItet4tCcMv6B6iZ_E9nM1gU45CV6fKuWhZL-Ntw6-wVbnn2TQ0IwZqIZtQffG64R9g9J3QJcKrAB3JkBa7ZUaHkFs3OfQXGPIqnsN5Z8gjUNSdWBWfgBsB7ywumoJuFhB182vRbFLUMmtz_uct8XnJbebEaFCXqWu-2cOt8n2Y769AvkoMsW60_LEBM7tOWohJ3i6K11wZQk-6cFnum-7ivfUgppLVNEY3PntK_JY5maZKKA-eKbcfOtA2Bj7EZ-Py-s7csWx7FJHQbtlOw7qMKy4VpQsptKUt5ZU3Q5qVT_R1-y1RRgMMlHoHeo69te82bwyyZWvQrKSln8AYIFYr1Bk77LSaoEHh1pwWlRPDn_S5kiOvg4seRZtKXryi-YEGpj6qLgBdAW4Jd019Aoc8w67ARBLokOV6h3uYbvGI9OgxIFtT0tQN4JNnnk5XeBB-eU-s0-ltMSJJ4qPYRy6MfShoEvGPOQ2bV6TogEwnwM4LhvuSkL-yZz6y0GJHwiDwjwYH66t7m6AwZ74PIRCgxqEzWUpcarbsXjRFbQpws-sQSw3gk3t0q6jOhRB6TsNPLLPeqAOr2wDlC_3vUv7O-8Afl__SsPrvRUS7fqDJZFjpyi-4OKlI217jMHiHjkoOQTPXZr5ew1lVVeKHwBEaJ7WcITyXYI79ZIKoChBI-lcOr6NoGxDu5GQVB1EXpjU9MKIa0yjMRUptvNHL2sIkOG2avYglJSjkuhQsKbwnmPfMQFu-Kj65ebkBOdJEAIFFFGa64dgn__axW4yLBzOGq4KYG2clQU13LdgeIHvB7PnLWybQd2B_gORAhnFCW45VDCL-SmOJVVK6Epi7Q3f-j7fwCheohYQXhT0sKY6DKho__xix9BugcuK89mOZci7N6HIoZcSdwyefy6xPbK00oV09quvvNmVZBArzyhXxsfuRgpckoXGw1SWp2iICMBvoVD1QiAKch9vt9EL5u_ghLd1q6EHOYZSmDNHX7iHj9wtbtRnDbsMaWly_3KbZ4KSepsff5eQlLBuAy-H9Ebh9SlySbExsuICnsz63_PA3LM3R674N1RCdlz8FJFXTzPEhmUgxbz__Ln1Pm0AAmLezlkPgdEQ1FjAO4kpD5YCOiDhucMqGeuHXtVtK3TP-w1iViXDi7M1fV3B2zA6VuhEKeC5XSQFAhQX_WK60ag9JZxCaTz8X-l9IjgBwnKsncgZsH8FSNP2rN10Jq-Z5NHZoNjfqpwWiszrz5LA_f0SJ0–IhHZVC70Ud5K4MMieCMncyubBJUDbdND6FJzSg4co4Lb6PeRP1Pcb9eMBK6SylTORKJyQNeVvCP8ewu-IwcQJGXKCoq2zli8Rbtrv7PvhI7FhYQN96rxPORSMAMfHU_4RY6PPckDpcJHtC6JIp-2badJ5xT4aF4HxDH7SO3gmV0iKiyHexcesGuh3Iwf1ox-B4l3G982NrYPtuKx2cY37–CIkABl9kmp5mx7rxayFKs_2jH58_rqQkzvf_UQbzmQnecY_L–1sg32Me39_enxPJQKD–9arh_UXQyDtfhwqkDgA-ke0lAR8bWSILBQa-MUQ6fM_K21aJ6YtoBETeQ73OmVFtI5x-lbS-QLxE3UdF685NUhZxI0qkIcgOe-AKMimjckdzkWSJHKETYLL47wC-kdqsbVOKMC8v5si_Ad9CphGdfxwZVa3e6srLNczdEnNCQT6wWaqaa7Gxb0jgsqoHuGuHEd7JDt-GX08R3co") Приказ Министерства здравоохранения РФ от 28 января 2021 г. N 29н «Об утверждении Порядка проведения обязательных предварительных и периодических медицинских осмотров работников, предусмотренных частью четвёртой статьи 213 Трудового кодекса Российской Федерации, перечня медицинских противопоказаний к осуществлению работ с вредными и (или) опасными производственными факторами, а также работам, при выполнении которых проводятся обязательные предварительные и периодические медицинские осмотры» (с изменениями и дополнениями)
                p 11. Для прохождения предварительного осмотра лицо, поступающее на работу представляет в медицинскую организацию, в которой проводится предварительный осмотр, следующие документы:<br>— направление;<br>— страховое свидетельство обязательного пенсионного страхования, содержащее страховой номер индивидуального лицевого счета или документ, подтверждающий регистрацию в системе индивидуального <br class="br-mobile">(персонифицированного) учёта в форме электронного документа или на бумажном носителе;<br>— паспорт (или иной документ, удостоверяющий личность);<br>— решение врачебной комиссии, проводившей обязательное психиатрическое освидетельствование (в случаях, предусмотренных законодательством Российской Федерации);<br>— полис обязательного (добровольного) медицинского страхования.
      include html/footer
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src='js/app.js')