doctype html
html
  include html/head
  body
    .wrapper
      include html/header2
      main
        .breadcrumbs
          .breadcrumbs__container
            ul.breadcrumbs__list
              li.breadcrumbs__item
                a(href="").breadcrumbs__link Главная
              li.breadcrumbs__item
                a(href="").breadcrumbs__link  База знаний 
              li.breadcrumbs__item Законность требования СНИЛС
        .section-page
          .section-page__snils
            .section-page__container
              .section-page__title
                h1.page-title Законность требования СНИЛС
              .section-page__contentSnils
                p Приказ Министерства здравоохранения РФ от 28 января 2021 г. N 29н «Об утверждении Порядка проведения обязательных предварительных и периодических медицинских осмотров работников, предусмотренных частью четвёртой статьи 213 Трудового кодекса Российской Федерации, перечня медицинских противопоказаний к осуществлению работ с вредными и (или) опасными производственными факторами, а также работам, при выполнении которых проводятся обязательные предварительные и периодические медицинские осмотры» (с изменениями и дополнениями)
                p 11. Для прохождения предварительного осмотра лицо, поступающее на работу представляет в медицинскую организацию, в которой проводится предварительный осмотр, следующие документы:<br>— направление;<br>— страховое свидетельство обязательного пенсионного страхования, содержащее страховой номер индивидуального лицевого счета или документ, подтверждающий регистрацию в системе индивидуального <br class="br-mobile">(персонифицированного) учёта в форме электронного документа или на бумажном носителе;<br>— паспорт (или иной документ, удостоверяющий личность);<br>— решение врачебной комиссии, проводившей обязательное психиатрическое освидетельствование (в случаях, предусмотренных законодательством Российской Федерации);<br>— полис обязательного (добровольного) медицинского страхования.
      include html/footer
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src='js/app.js')