doctype html
html
  include html/head
  body
    .wrapper
      .menu-mobile
        <div class="phone">
        <svg class="phone__icon">
        <use xlink:href="img/icons/icons.svg#telephone"></use>
        </svg>
        <div class="phone__item">
        <div class="phone__top">с&nbsp;9–00&nbsp;до&nbsp;18–00&nbsp;Пн-Пт</div><a class="phone__bottom" href="tel:+78007003060">8&nbsp;800&nbsp;700-30-60</a>
        </div>
        </div>
      .menu-overlay
      <header class="header">
      <div class="header__container">
      <div class="logo"><a href="/gigtest/dist/"><picture><source srcset="img/logo.webp, img/logo@2x.webp 2x" type="image/webp"><img class="logo__image" src="img/logo.png" srcset="img/logo@2x.png 2x" alt=""></picture></a></div>
      <nav class="menu">
      <ul class="menu__list">
      <li class="menu__item"><a class="menu__link">Решения</a>
      <svg class="menu__icon" data-js="menuToggle">
      <use xlink:href="img/icons/icons.svg#arrow-down"></use>
      </svg>
      <div class="menu__dropdown">
      <ul class="menu-dropdown">
      <li class="menu-dropdown__item menu-dropdown__item--back" data-js="menuToggle">
        <a class="menu-dropdown__link" href="javascript:void(0)"><span class="menu-dropdown__title">Назад</span>
          <svg class="menu__icon">
            <use xlink:href="img/icons/icons.svg#arrow-down"></use>
          </svg>
        </a>
      </li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="https://gigtest.ru" target="_blanc"><span class="menu-dropdown__title">ГИГТЕСТ</span><span class="menu-dropdown__text">Сервис для&nbsp;проведения гигиенического обучения граждан</span></a></li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="/gigtest/dist/" ><span class="menu-dropdown__title">ГИГТЕСТ. Медицина</span><span class="menu-dropdown__text">Медицинская информационная система</span></a></li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="/gigtest/dist/integration.html"><span class="menu-dropdown__title">Интеграция с&nbsp;ЕГИСЗ</span><span class="menu-dropdown__text">Подключаем вашу МИС к ЕГИСЗ</span></a></li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="/gigtest/dist/seo.html"><span class="menu-dropdown__title">SEO&nbsp;в&nbsp;медицине</span><span class="menu-dropdown__text">Маркетинговая помощь в продвижении медицинских услуг</span></a></li>
      <li class="menu-dropdown__item"><a class="menu-dropdown__link" href="/gigtest/dist/consulting.html"><span class="menu-dropdown__title">Консалтинг</span><span class="menu-dropdown__text">Поможем в подключении вашей организации к единому контуру</span></a></li>
      </ul>
      </div>
      </li>
      <li class="menu__item"><a class="menu__link" href="/gigtest/dist#section-possibilities">Возможности</a></li>
      <li class="menu__item"><a class="menu__link" href="/gigtest/dist#section-integration">Интеграции</a></li>
      <li class="menu__item"><a class="menu__link" href="/gigtest/dist#section-price">Тарифы</a></li>
      <li class="menu__item"><a class="menu__link menu__link--active" href="/gigtest/dist/support.html">Техподдержка</a></li>
      </ul>
      </nav>
      <div class="header__phone">
      <div class="phone">
      <svg class="phone__icon">
      <use xlink:href="img/icons/icons.svg#telephone-fill"></use>
      </svg>
      <div class="phone__item">
      <div class="phone__top">с&nbsp;9–00&nbsp;до&nbsp;18–00&nbsp;Пн-Пт</div><a class="phone__bottom" href="tel:+78007003060">8&nbsp;800&nbsp;700-30-60</a>
      </div>
      </div>
      </div>
      <div class="hamburger">
      <svg class="hamburger__icon">
      <use xlink:href="img/icons/icons.svg#hamburger"></use>
      </svg>
      <svg class="hamburger__close">
      <use xlink:href="img/icons/icons.svg#cross"></use>
      </svg>
      </div>
      </div>
      </header>
      main
        .breadcrumbs
          .breadcrumbs__container
            ul.breadcrumbs__list
              li.breadcrumbs__item
                a(href="/gigtest/dist/").breadcrumbs__link Главная
              li.breadcrumbs__item Техподдержка
        .section-page
          .section-page__support
            .section-page__container
              .section-page__head
                h1.page-title Техподдержка
                .section-page__descr Поддержка — это линия технического сопровождения, которая помогает клиентам в решении различных вопросов, связанных с продуктами или услугами компании. 
              .section-support
                .section-support__row
                  .section-support__col
                    img(src="@img/support.png" alt="")
                  .section-support__col
                    .section-support__item
                      .section-support__item-title Почта:
                      .section-support__item-text <a href="mailto:info@gigtest.ru">info@gigtest.ru</a>
                    .section-support__item
                      .section-support__item-title Телефон:
                      .section-support__item-text <a href="tel:+78007003060">8 800 700-30-60</a>
                    .section-support__item
                      .support-time
                        .support-time__title Часы работы по московскому времени
                        .support-time__label
                          .support-time__days Пн-Чт
                          .support-time__info с 08:00 до 17:00
                        .support-time__label
                          .support-time__days Пт
                          .support-time__info с 08:00 до 16:00
                        .support-time__label
                          .support-time__days Сб-Вс 
                          .support-time__info выходные
                .section-support__links
                  a(href="").section-support__link Инструкция для администратора
                  a(href="").section-support__link Инструкция для регистратора
                  a(href="").section-support__link Инструкция для врача
      include html/footer
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script(src="https://code.jquery.com/jquery-3.7.1.min.js")
  script(src='js/app.js')